{% extends "layout.html" %}
{% load i18n %}
{% block title %}
    {{ summary }} | {{ block.super }}
{% endblock %}

{% block content %}
    {% if errors %}
                <p style="color: red;">
                    {{ errors }}
                </p>
    {% endif %}

            <form action="" method="post">
                <table>
                    {{ form.as_table }}
                </table>
                {% csrf_token %}
                <input type="submit" value="Submit">
            </form>
{% endblock content %}