# Packaging
*.pyc
*.egg-info
/dist/
/build/

# Vagrant
.vagrant

# Temporary/OS files
*.swp
*.swo
*.*~
.~lock.*
*.DS_Store

# IDE files
*.sublime-*
.project
.pydevproject
.settings
.idea

# Docs
/docs/build/*
TODO

# Test files
.coverage
.noseids
coverage.xml
violations.txt
nosetests.xml
/htmlcov/*
/.tox/*

# Site specific
settings_local.py
/bazaar/*.sqlite
/bazaar/assets/
/bazaar/public/
/bazaar/whoosh_index/
/bazaar/logs/
/bazaar/build/

# Frontend dev files
*.scssc

#Robot
robot/log.html
robot/output.xml
robot/report.html
robot/*.jpg
robot/*.png
