# Packaging
*.pyc
*.egg-info
/dist/
/build/

# Vagrant
.vagrant

# Temporary/OS files
*.swp
*.swo
*.*~
.~lock.*
*.DS_Store

# IDE files
.project
.pydevproject
.settings
.idea

# Docs
/docs/build/*
TODO

# Test files
.coverage
.noseids
coverage.xml
violations.txt
nosetests.xml
/htmlcov/*
/.tox/*

# Site specific
settings_local.py
/bazaar/*.sqlite
/bazaar/assets/
/bazaar/public/
/bazaar/whoosh_index/
/bazaar/logs/
/bazaar/build/

# Frontend dev files
*.scssc
/bazaar/apps/catalogue/migrations/
/bazaar/apps/api/migrations/

#icons
/bazaar/static/shop/img/icons/*
/bazaar/apps/checkout/migrations/0001_initial.py
/bazaar/apps/checkout/migrations/__init__.py
/bazaar/apps/customer/migrations/0010_auto__add_productlibrary.py
/bazaar/apps/library/migrations/0001_initial.py
/bazaar/apps/user/migrations/0001_initial.py
/bazaar/apps/user/migrations/__init__.py
/bazaar/apps/user/migrations/0002_auto__add_field_user_mepinId.py
/bazaar/apps/library/migrations/0002_auto__del_productlibrary__add_productpurchased.py

#Robot
robot/log.html
robot/output.xml
robot/report.html
robot/*.jpg
robot/*.png
