@-webkit-keyframes fadeInDownBig {
  /* line 2, ../../sass/animate/fadeInDownBig.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }

  /* line 3, ../../sass/animate/fadeInDownBig.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDownBig {
  /* line 7, ../../sass/animate/fadeInDownBig.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }

  /* line 8, ../../sass/animate/fadeInDownBig.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-ms-keyframes fadeInDownBig {
  /* line 12, ../../sass/animate/fadeInDownBig.scss */
  0% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
  }

  /* line 13, ../../sass/animate/fadeInDownBig.scss */
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@-o-keyframes fadeInDownBig {
  /* line 17, ../../sass/animate/fadeInDownBig.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }

  /* line 18, ../../sass/animate/fadeInDownBig.scss */
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInDownBig {
  /* line 22, ../../sass/animate/fadeInDownBig.scss */
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  /* line 23, ../../sass/animate/fadeInDownBig.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
