@-webkit-keyframes pulse {
  /* line 4, ../../sass/animate/pulse.scss */
  0% {
    -webkit-transform: scale(1);
  }

  /* line 5, ../../sass/animate/pulse.scss */
  50% {
    -webkit-transform: scale(1.1);
  }

  /* line 6, ../../sass/animate/pulse.scss */
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes pulse {
  /* line 10, ../../sass/animate/pulse.scss */
  0% {
    -moz-transform: scale(1);
  }

  /* line 11, ../../sass/animate/pulse.scss */
  50% {
    -moz-transform: scale(1.1);
  }

  /* line 12, ../../sass/animate/pulse.scss */
  100% {
    -moz-transform: scale(1);
  }
}

@-ms-keyframes pulse {
  /* line 16, ../../sass/animate/pulse.scss */
  0% {
    -ms-transform: scale(1);
  }

  /* line 17, ../../sass/animate/pulse.scss */
  50% {
    -ms-transform: scale(1.1);
  }

  /* line 18, ../../sass/animate/pulse.scss */
  100% {
    -ms-transform: scale(1);
  }
}

@-o-keyframes pulse {
  /* line 22, ../../sass/animate/pulse.scss */
  0% {
    -o-transform: scale(1);
  }

  /* line 23, ../../sass/animate/pulse.scss */
  50% {
    -o-transform: scale(1.1);
  }

  /* line 24, ../../sass/animate/pulse.scss */
  100% {
    -o-transform: scale(1);
  }
}

@keyframes pulse {
  /* line 28, ../../sass/animate/pulse.scss */
  0% {
    transform: scale(1);
  }

  /* line 29, ../../sass/animate/pulse.scss */
  50% {
    transform: scale(1.1);
  }

  /* line 30, ../../sass/animate/pulse.scss */
  100% {
    transform: scale(1);
  }
}
