{% load currency_filters %}
{% load category_tags %}
{% load i18n %}
<div id="language-selector">
     <div class="menu-icon">{{LANGUAGE_CODE}}<img class="svg" src="{{ STATIC_URL }}shop/img/FilterIcon.svg"/></div>
    {% if LANGUAGES|length > 1 %}
     <div class="menu-box language-box">
        <form id="language_selector" class="pull-left navbar-form" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ language_neutral_url_path }}" />
            <select name="language" onchange="this.form.submit()">
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE%} selected="selected"{% endif %}>
                        {{ language.name_local }}
                    </option>
                {% endfor %}
            </select>
        </form>
     </div>
    {% endif %}
</div>
<div id="uppermenu" class="flex-container sticky">
    <div id="filters" class="flexItem5 flex-container">
        <div class="flexItem"></div>
            <div id="menu-subjects">Subject<img class="svg" src="{{ STATIC_URL }}shop/img/FilterIcon.svg"/>
                <ul>
                    <li>biology</li>
                    <li>maths</li>
                    <li>english</li>
                    <li>geography</li>
                </ul>
            </div>
            <div id="menu-grades">Grade<img class="svg" src="{{ STATIC_URL }}shop/img/FilterIcon.svg"/>
                <ul>
                    <li>1-2</li>
                    <li>3-6</li>
                    <li>7-9</li>
                </ul>
            </div>
            <div id="menu-types">Type<img class="svg" src="{{ STATIC_URL }}shop/img/FilterIcon.svg"/>
                <ul>
                    <li>books</li>
                    <li>exercises</li>
                    <li>games</li>
                </ul>
            </div>
            <div id="menu-publishers">Publisher<img class="svg" src="{{ STATIC_URL }}shop/img/FilterIcon.svg"/>
                <ul>
                    <li>rovio</li>
                    <li>sanoma</li>
                    <li>ubiikki</li>
                </ul>
            </div>
        <div id="addTags">
            <div class="label">Filter content by tags:</div>
            <form method="get" action="{% url 'search:search' %}" class="navbar-form pull-right">
                {{ search_form.q }}
            </form>
        </div>
    </div>
    <div id="tagsFilter" class="flexItem flex-container flex-wrap">
            <div class="tag">mitosis
                <div>x</div>
            </div>
            <div class="tag">cells
                <div>x</div>
            </div>
            <div class="tag">division
                <div>x</div>
            </div>
    </div>
</div>
