{% load currency_filters %}
{% load category_tags %}
{% load i18n %}
<div id="navbar" class="flex-container-vertical">
    <div id="uppermenu" class="flex-container">
        <div class="menu-header flex-container">
            <a href="/catalogue">
            <div class="menu-head-icon" style="background-image:url('{{ STATIC_URL }}shop/img/logo_grey.png');"></div>
            </a>
        </div>

        <div class="flexItem hideSmall">
        </div>

        <div id="menu-categories">{% trans "Refine Items"%}&nbsp;&nbsp;<i class="fa fa-caret-down"></i>
        </div>

        <div class="flexItem hideSmall">
        </div>

        <div id="generalSearch" class="flexItem5 flex-container">
            <form method="get" action="{% url 'search:search' %}" class="flex-container flexItem">
                <div class="flex-container flexItem">
                    {{ search_form.q }}
                    {{ search_form.params }}
                    <img class="menu-icon svg" src="{{ STATIC_URL }}shop/img/Bazaar_Search.svg"/>
                </div>
            </form>
        </div>
        
        <div class="flexItem hideSmall">
        </div>

        <div id="icons" class="flex-container">
                 
            <div>
                <img class="menu-icon svg" src="{{ STATIC_URL }}shop/img/Bazaar_ShoppingBasket.Icon.svg"/>
                {% if request.basket.num_lines %}
                <div class="notification-number">{{request.basket.num_lines}}</div>
                {% endif %}
                <div class="menu-box">
                    <div class="flex-container-vertical">
                        <div class="menu-box-header">{% trans "Shopping cart summary"%}</div>
                        <div class="menu-box-content">
                            {% include "partials/mini_basket.html" %}
                            <div class="menu-box-footer flex-container-vertical">
                                <div class="flex-container flexItem">
                                    <a class="btn flexItem" href="{% url 'basket:summary' %}">{% trans "View your cart" %}</a>
                                    <!--
                                    <a class="btn flexItem" href="{% url 'checkout:preview' %}">{% trans "Checkout" %}</a>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="profile-icon">
                <img class="menu-icon svg {% if user.is_authenticated %}logged{% endif %}" src="{{ STATIC_URL }}shop/img/Bazaar_Profile.Icon.svg"/>
                {% if num_unread_notifications > 0 %}
                <div class="notification-number">{{num_unread_notifications}}</div>
                {% endif %}
                <div class="menu-box">
                    <div class="flex-container-vertical">
                        {% if user.is_authenticated %}
                            <div class="menu-box-header">
                                {% trans "Profile"%}</div>
                            <div class="menu-box-content">
                                {% include "partials/nav_accounts.html" %}
                                <div class="menu-box-footer flex-container">
                                    {% if user.is_staff or perms.partner.dashboard_access %}
                                        <a class="btn flexItem" href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
                                    {% endif %}
                                    <a class="btn flexItem" href="{% url 'customer:summary' %}">{% trans "Account" %}</a>
                                    <a class="btn flexItem" href="{% url 'customer:logout' %}">{% trans "Logout" %}</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="menu-box-header">
                                {% trans "Log In"%}</div>
                            <div class="menu-box-content flex-container-vertical">
                                <div class="flex-container social-logins">
                                    <div class="flexItem" id="facebook-login">
                                        <i class="fa fa-facebook"></i>
                                    </div>
                                    <div class="flexItem" id="twitter-login">
                                        <i class="fa fa-twitter"></i>
                                    </div>
                                    <div class="flexItem" id="google-login">
                                        <i class="fa fa-google-plus"></i>
                                    </div>
                                    <div class="flexItem" id="linkedin-login">
                                        <i class="fa fa-linkedin"></i>
                                    </div>
                                </div>
                                <div class="flex-container strong-logins">
                                    <div class="mepin-login" data-theme="light" data-layout="standard"
                                         data-applicationid="a4fdd84bc8c959788f781b3d81498059" data-cburl="https://demo.pilvivayla.fi/mepin"></div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="language-icon">
                <div class="menu-icon">{{LANGUAGE_CODE}} <i class="fa fa-caret-down"></i></div>
                {% if LANGUAGES|length > 1 %}
                     <div class="menu-box">
                        <form id="language_selector" action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ language_neutral_url_path }}" />
                            <select name="language" onchange="this.form.submit()">
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE%} selected="selected"{% endif %}>
                                        {{ language.name_local }}
                                    </option>
                                {% endfor %}
                            </select>
                        </form>
                     </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="categories-bar">
        <div class="flex-container flex-wrap">
            <div class="flexItem2">
                <h2>{% trans "Subject"%}</h2>
                <div class="flex-container options" id="options-subject">
                    <div class="flexItem">
                        <ul>
                            <li class="all-option selected">{% trans "all"%}</li>
                            <li data="biology">{% trans "Biology"%}</li>
                            <li data="chemistry">{% trans "Chemistry"%}</li>
                            <li data="environmental_and_natural_science">{% trans "Environmental & Natural Science"%}</li>
                            <li data="geography">{% trans "Geography"%}</li>
                            <li data="health_education">{% trans "Health Education"%}</li>
                            <li data="history">{% trans "History"%}</li>
                            <li data="mathematics">{% trans "Mathematics"%}</li>
                            <li data="physics">{% trans "Physics"%}</li>
                            <li data="religion_and_ethics_culture">{% trans "Religion & Ethics Culture"%}</li>
                            <li data="art_and_design">{% trans "Art & Design"%}</li>
                        </ul>
                    </div>
                    <div class="flexItem">
                        <ul>
                            <li data="crafts">{% trans "Crafts"%}</li>
                            <li data="music">{% trans "Music"%}</li>
                            <li data="physical_education">{% trans "Physical Education"%}</li>
                            <li data="home_economics">{% trans "Home Economics"%}</li>
                            <li data="english">{% trans "English"%}</li>
                            <li data="finnish">{% trans "Finnish"%}</li>
                            <li data="finnish_as_second_language">{% trans "Finnish"%} <span class="small">{% trans "as a second language"%}</span></li>
                            <li data="french">{% trans "French"%}</li>
                            <li data="russian">{% trans "Russian"%}</li>
                            <li data="swedish">{% trans "Swedish"%}</li>
                            <li data="swedish_as_second_language">{% trans "Swedish"%} <span class="small">{% trans "as a second language"%}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flexItem options" id="options-grade">
                <h2>{% trans "Grade"%}</h2>
                <ul>
                    <li class="all-option selected">{% trans "all"%}</li>
                    <li data="pre-school">{% trans "Pre-school"%}</li>
                    <li data="1">1</li>
                    <li data="2">2</li>
                    <li data="3">3</li>
                    <li data="4">4</li>
                    <li data="5">5</li>
                    <li data="6">6</li>
                    <li data="7">7</li>
                    <li data="8">8</li>
                    <li data="9">9</li>
                </ul>
            </div>
            <div class="flexItem options" id="options-technology">
                <h2>{% trans "Techonology"%}</h2>
                <ul>
                    <li class="all-option selected">{% trans "all"%}</li>
                    <li data="image">{% trans "Image"%}</li>
                    <li data="video">{% trans "Video"%}</li>
                    <li data="pdf">{% trans "PDF"%}</li>
                    <li data="other">{% trans "Other"%}</li>
                </ul>
            </div>
            <div class="flexItem options" id="options-type">
                <h2>{% trans "Type"%}</h2>
                <ul>
                    <li class="all-option selected">{% trans "all"%}</li>
                    <li data="textbook">{% trans "Textbook"%}</li>
                    <li data="exercise_book">{% trans "Exercise book"%}</li>
                    <li data="hybrid">{% trans "Hybrid"%}</li>
                    <li data="teachers_material">{% trans "Teacher's material"%}</li>
                    <li data="additional_material">{% trans "Additional material"%}</li>
                    <li data="exam">{% trans "Exam"%}</li>
                </ul>
            </div>
            <div class="flexItem flex-container-vertical space-between">
                <div id="options-price" class="options">
                    <h2>{% trans "Price"%}</h2>
                    <div class="option selected">
                        <input checked type="radio" name="price" value="all">{% trans "All"%}</div>
                    <div class="option">
                        <input type="radio" name="price" value="free">{% trans "Free"%}</div>
                    <div class="option">
                        <input type="radio" name="price" value="paid">{% trans "Paid"%}</div>
                    <div class="slider">
                        <div id="price-slider"></div>
                    </div>
                    <p><input class="disabled" type="text" id="price-range" readonly></p>
                </div>
                <div id="options-schools">
                    <p class="title">
                        {% trans "Refining items by"%}
                    </p>
                    <p>
                        <strong>{% trans "Primary School"%}</strong><a class="change-btn">{% trans "change"%}</a>
                    </p>
                    <p class="title">{% trans "Also include:"%}</p>
                    <p><input type="checkbox" value="vocational_school">{% trans "Vocational school"%}</p>
                    <p><input type="checkbox" value="high_school">{% trans "High school"%}</p>
                    <p><input type="checkbox" value="university">{% trans "University"%}</p>
                </div>
                <div id="clear-all-filters">
                    <a href="#"><i class="fa fa-times-circle"></i> {% trans "Clear all"%}</a>
                </div>
            </div>
        </div>
    </div>
    <div id="tabs-bar" class="flex-container">
        <a class="tab active flexItem" href="/catalogue">
            {% trans "Resources"%}
        </a>
        <a class="tab flexItem" href="#">
            {% trans "Recipes"%}
        </a>
        <a class="tab flexItem" href="#">
            {% trans "Q&A"%}
        </a>
    </div>
</div>
