{% load i18n %}
<div id="menu" class="flex-container-vertical">
    
    <div class="menu-options flex-container-vertical">
        <div class="menu-separator"></div>
        <div class="menu-option flex-container-vertical">
            <div class="menu-icon" style="background-image:url('{{ STATIC_URL }}shop/img/ProfileIcon.png');"></div>
            <div class="drawer">
                {% include "partials/nav_accounts.html" %}
            </div>
        </div>
        <div class="menu-option flex-container-vertical">
            <div class="menu-icon" style="background-image:url('{{ STATIC_URL }}shop/img/SearchIcon.png');"></div>
            <div class="drawer">
                <div class="flex-container drawer-search">
                    <div class="menu-icon"
                         style="background-image:url('{{ STATIC_URL }}shop/img/SearchIcon.png');"></div>
                    <input class="flexItem" type="search" name="search" placeholder="Search...">

                    <div class="menu-icon"
                         style="background-image:url('{{ STATIC_URL }}shop/img/SupportIconTEMP.png');"></div>
                </div>
            </div>
        </div>
        <div class="menu-option flex-container-vertical">
            <div class="menu-icon" style="background-image:url('{{ STATIC_URL }}shop/img/SupportIconTEMP.png');"></div>
            <div class="drawer">
                {% include "partials/mini_basket.html" %}
            </div>
        </div>
        {% block mini_basket %}{% endblock %}
        <div class="menu-separator"></div>
        <div class="menu-option flex-container-vertical">
            <div class="menu-icon" style="background-image:url('{{ STATIC_URL }}shop/img/QandAIcon.png');"></div>
            <div class="drawer">
                Questions and Answers
            </div>
        </div>
    </div>
    <div class="flexItem">
    </div>
</div>
