{% load i18n %}
{% load currency_filters %}

<div id="pvmenu" class="flex-container-vertical">
    <div class="menu-header flex-container">
        <div class="menu-head-icon" style="background-image:url('{{ STATIC_URL }}shop/img/PilvivaylaLogotype_IncludingBazaar.png');"></div>
    </div>
    <div id="icons" class="flex-container-vertical">
             <a href="/catalogue">
        <div class="flexItem">
                <img class="menu-icon svg" src="{{ STATIC_URL }}shop/img/Bazaar_Home.Icon.svg"/>
        </div>
             </a>
        <div>
            <div class="menu-separator"></div>
        </div>
        <div class="flexItem">
            <img class="menu-icon svg" src="{{ STATIC_URL }}shop/img/Bazaar_Profile.Icon.svg"/>
            <div class="menu-box">
                <div class="flex-container-vertical">
                    <div class="menu-box-header">
                        Profile</div>
                    <div class="menu-box-content">
                        {% include "partials/nav_accounts.html" %}
                        <div class="menu-box-footer">-</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flexItem">
            <img class="menu-icon svg" src="{{ STATIC_URL }}shop/img/Bazaar_ShoppingBasket.Icon.svg"/>
            {% if request.basket.num_lines %}
            <div class="notification-number">{{request.basket.num_lines}}</div>
            {% endif %}
            <div class="menu-box">
                <div class="flex-container-vertical">
                    <div class="menu-box-header">Basket</div>
                    <div class="menu-box-content">
                        {% include "partials/mini_basket.html" %}
                        <div class="menu-box-footer flex-container-vertical">
                            <div class="flex-container flexItem">
                                <a class="btn flexItem" href="{% url 'basket:summary' %}">{% trans "View basket" %}</a>
                                <a class="btn flexItem" href="{% url 'checkout:index' %}">{% trans "Checkout" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flexItem">
            <img class="menu-icon svg" src="{{ STATIC_URL }}shop/img/Bazaar_Search.svg"/>
            <div class="menu-box">
                <div class="menu-bridge"></div>
                <div class="flex-container-vertical">
                    <div class="menu-box-header">
                        <form id="generalSearch" method="get" action="{% url 'search:search' %}" class="navbar-form pull-right">
                            {{ search_form.q }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="menu-separator"></div>
        </div>
    </div>
    <div class="flexItem"></div>
</div>
