
<div id="sidebar">
    <div id="accordion-switch">
        <img src="{{ STATIC_URL }}shop/img/CloseBlog.png"/>
    </div>
    <div id="accordion-content" class="flex-container-vertical">
        <div id="tabs-sidebar">
          <ul class="flex-container">
            <li class="flexItem flex-container"><a href="#posts-tab">Blog</a></li>
            <li class="flexItem flex-container"><a href="#kysy-tab">Q&A</a></li>
          </ul>
          <div id="posts-tab">
            <div class="posts">
                <div class="blog-post">
                    <h2><a href="#">First post</a></h2>

                    <h3><a href="#">by Author</a></h3>

                    <p>Bacon ipsum dolor sit amet ut officia pastrami t-bone frankfurter chicken sint pork nisi
                        shankle dolore meatball. Tempor in excepteur reprehenderit. Ullamco anim pork boudin<a
                                href="#">...</a>
                </div>
                <div class="blog-post">
                    <h2><a href="#">Second post</a></h2>

                    <h3><a href="#">by Author</a></h3>

                    <p>Bacon ipsum dolor sit amet ut officia pastrami t-bone frankfurter chicken sint pork nisi
                        shankle dolore meatball. Tempor in excepteur reprehenderit. Ullamco anim pork boudin<a
                                href="#">...</a>
                </div>
            </div>
          </div>
          <div id="kysy-tab">
            <div class="kysy">
                <h2><a href="#">Q&A</a></h2>

                <p>Bacon ipsum dolor sit amet ut officia pastrami t-bone frankfurter chicken sint pork nisi
                    shankle dolore meatball. Tempor in excepteur reprehenderit. Ullamco anim pork boudin<a
                            href="#">...</a>
            </div>
          </div>
        </div>

    </div>
</div>
