{% extends "layout.html" %}
{% load i18n %}
{% block title %}
    {{ summary }} | {{ block.super }}
{% endblock %}

{% block content %}
    <a href="/panel/new"><h3>Create a new item</h3></a>
    {% if productList %}
        <ul>
        {% for product in productList %}
            <li><a href="{{ product.get_absolute_url }}">{{ product.title }}</a> - <a href="edit/{{ product.upc }}">{% trans "Edit" %}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "No products found"%}</p>
    {% endif %}
{% endblock content %}