{% load i18n %}
{% load currency_filters %}

{% if basket.is_empty %}
    {% trans "Your basket is now empty" %}
{% else %}

{% comment %}
    {% if basket.is_tax_known %}
        {% blocktrans with total=basket.total_incl_tax|currency:basket.currency %}
        Basket total now <strong>{{ total }}</strong>
        {% endblocktrans %}
    {% else %}
        {% blocktrans with total=basket.total_excl_tax|currency:basket.currency %}
        Basket total now <strong>{{ total }}</strong>
        {% endblocktrans %}
    {% endif %}
{% endcomment %}

{% endif %}

{% if include_buttons %}
    <a href="{% url 'basket:summary' %}" class="link">{% trans "View basket" %}</a>
{% endif %}