{% extends "layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load purchase_info_tags %}
{% load staticfiles %}

{% block title %}
    {% trans "Checkout" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' %}
{% endblock %}

{% block content %}
<div id="content" class="flex-container grayBackground">
        <div class="flexItem"></div>
        <div class="flex-container-vertical content-center">
        

        <div id="checkout-stages" class="flex-container">
            <a href="{% url 'basket:summary' %}" class="flexItem stage">
                <div>{% trans "Shopping Cart" %}</div>
            </a>
            <div class="flexItem stage selected">
                <div>{% trans "Order Confirmation" %}</div>
            </div>
            <div class="flexItem stage">
                <div>{% trans "Order Approval" %}</div>
            </div>
        </div>

        {% if error %}
            <div class="alert alert-error">
                {{ error }}
            </div>
        {% endif %}

        {% block order_contents %}
            <div class="sub-header">
                <h2>{% trans "Order contents" %}</h2>
            </div>
            <div class="legend-bar flex-container">
                <div class="thumbnail-ghost"></div>
                <div class="flexItem"></div>
                <div class="quantity">{% trans "Quantity" %}</div>
                <div class="price">{% trans "Individual Price" %}</div>
                <div class="subtotal">{% trans "Subtotal" %}</div>
            </div>
            <div id="basket_formset" class="flex-container-vertical">
            {% for line in basket.all_lines %}
                {% purchase_info_for_line request line as session %}
                <div class="basket-items flex-container">
                    <div>
                        {% with image=product.primary_image %}
                            {% thumbnail image.original "x155" upscale=False as thumb %}
                            <a href="{{ product.get_absolute_url }}"><img src="{{ product.icon }}" alt="{{ product.get_title }}" class="thumbnail"></a>
                            {% endthumbnail %}
                        {% endwith %}
                    </div>
                        <div class="span2">
                            <div class="image_container">
                                {% with image=line.product.primary_image %}
                                    {% thumbnail image.original "100x100" upscale=False as thumb %}
                                    <a href="{{ form.instance.product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="span7">
                            <h4><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h4>
                            <span class="availability {{ session.availability.code }}">{{ session.availability.message }}</span>
                        </div>
                        <div class="span1 align-center">
                            {{ line.quantity }}
                        </div>
                        <div class="span2 align-right">
                            <p class="price_color">
                                {% if not show_tax_separately and line.is_tax_known %}
                                    {{ line.line_price_incl_tax|currency:basket.currency }}
                                {% else %}
                                    {{ line.line_price_excl_tax|currency:basket.currency }}
                                {% endif %}
                            </p>
                        </div>
                </div>
            {% endfor %}
            </div>

            <div class="row-fluid">
                <div class="span6">&nbsp;</div>
                <div class="span6">
                    {% include 'basket/partials/basket_totals.html' %}
                </div>
            </div>

        {% endblock order_contents %}

        {% block shipping_method %}
        {% endblock shipping_method %}

        {% block payment_details %}
        {% endblock payment_details %}

        {% block place_order %}
        {% endblock place_order %}


    </div>
    <div class="flexItem"></div>
</div>

{% endblock content %}
