{% extends "layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load thumbnail %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        <span class="divider">/</span>
    </li>
    {% with category=product.categories.all.0 %}
        {% for c in category.get_ancestors %}
        <li>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            <span class="divider">/</span>
        </li>
        {% endfor %}
        <li class="active">{{ product.title }}</li>

        {% get_back_button as backbutton %}
        {% if backbutton %}
            <li class="pull-right">
                <a href="{{ backbutton.url }}">
                    <i class="icon-arrow-left"></i> {{ backbutton.title }}
                </a>
            </li>
        {% endif %}
    {% endwith %}
</ul>
{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}
<div id="content" class="grayBackground">
    <article class="product_page flex-container-vertical"><!-- Start of product page -->
    <div class="flex-container">
        <div class="flexItem"></div>
        <div class="content-center back-button">
            <a href="javascript:history.back()"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;{% trans "Go back"%}</a>
        </div>
        <div class="flexItem"></div>
    </div>
    <div class="flex-container whiteBackground main">
        <div class="flexItem"></div>
        <div class="box-page content-center flex-container-vertical">
            <div class="flex-container-vertical summary">
                <div class="title">
                    <h1>{{ product.get_title }}</h1>
                </div>
                <div class="owner">
                    {% blocktrans with owner=product.get_owner %}by  {{ owner }} {% endblocktrans %}
                </div>
            </div>
            <div class="flex-container">
                <div class="thumbnail flex-container-vertical">
                        {% if product.icon %}
                            <img src="{{ product.icon }}" alt="{{ product.get_title }} class="thumbnail">
                        {% else %}
                            <img src="{{ STATIC_URL }}shop/img/noimage.jpg" alt="{{ product.get_title }} class="thumbnail"/ >
                        {% endif %}
                </div>
                <div class="flexItem flex-container-vertical">
                    
                    <div class="price flexItem flex-container-vertical">
                        {% block product_stock_record %}
                            {% include "catalogue/partials/stock_record.html" with verbose=1 %}
                        {% endblock %}
                    </div>
                    <div class="rating flexItem flex-container-vertical">
                        <div class="number-rating">
                                {% blocktrans count product.num_approved_reviews as num_reviews %}
                                1 review
                                {% plural %}
                                {{ num_reviews }} reviews
                                {% endblocktrans %}
                        </div>
                        <div class="flex-container">
                            <div class="rating-value">{{product.rating}}&nbsp;</div>
                            <div class="star-rating {{ product.rating|as_stars }}">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="buttons flex-container flexItem">
                        {% block product_basket_form %}
                            {% include "catalogue/partials/add_to_basket_form.html" %}
                            {#% include "catalogue/partials/add_to_wishlist_form.html" %#}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="flexItem"></div>
    </div>
        
    <div class="flex-container">
        <div class="flexItem"></div>
        <div class="box-page details content-center flex-container-vertical">

            {% block product_main %}
            {% block product_description %}
            {% if product.description %}
            <div id="product_description">
                    <h2>{% trans "Product Description" %}</h2>
                    <p>{{ product.description|safe }}</p>
            </div>
            {% endif %}
            {% endblock %}
            <div id="product_information">
                {% block product_info %}
                <h2>{% trans "Product Information" %}</h2>
                <table class="product-info">
                    <tr>
                        <th>{% trans "Subjects" %}</th><td>{% blocktrans with category=product.categories.first %}{{ category }}{% endblocktrans %}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Grade" %}</th>
                        <td>{% if product.minAge < 7 and product.maxAge > 14 %}
                                all
                            {% else %}
                                {% if product.minAge < 6 %}1
                                {% else %}{{product.minAge|add:"-6"}}
                                {% endif %}-
                                {% if product.maxAge < 6 %}1
                                {% else %}
                                    {% if product.maxAge > 15 %}9
                                    {% else %}
                                    {{product.maxAge|add:"-6"}}
                                    {% endif %}
                                {% endif %}
                            {% endif %}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Product Type" %}</th><td>{% blocktrans with class=product.get_product_class.name %}{{ class }}{% endblocktrans %}</td>
                    </tr>
                      {% purchase_info_for_product request product as session %}
                    {% if session.price.exists %}
                        <tr>
                            <th>{% trans "Price" %}</th><td>{{ session.price.excl_tax|currency:session.price.currency }}</td>
                        </tr>
                        {% comment %}
                        <tr>
                            <th>{% trans "Availability" %}</th>
                            <td>{{ session.availability.message }}</td>
                        </tr>
                        {% endcomment %}
                    {% endif %}
                    {% for av in product.attribute_values.all %}
                        <tr>
                            <th>{{ av.attribute.name }}</th>
                            <td>{{ av.value_as_html }}</td>
                        </tr>
                    {% endfor %}
                    {% iffeature "reviews" %}
                        <tr>
                            <th>{% trans "Number of reviews" %}</th>
                            <td>{{ product.num_approved_reviews }}</td>
                        </tr>
                    {% endiffeature %}
                    <tr>
                        <th>{% trans "More info" %}</th>
                        <td><a title="{% trans 'More info' %}" href="{{ product.moreInfoUrl }}">{{ product.moreInfoUrl }}</a></td>
                    </tr>
                    <tr>
                        <th>{% trans "Age recommendation" %}</th>
                        <td>{{ product.minimumAge }} ― {{ product.maximumAge }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Copyright notice" %}</th>
                        <td>{{ product.copyrightNotice }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Content license" %}</th>
                        <td>{{ product.contentLicense }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Attribution" %}</th>
                        <td><a href='product.attributionURL'>{{ product.attributionText }}</a></td>
                    </tr>
                </table>
                {% endblock %}
            </div>

            {% with all_media=product.get_media %}
            {% if all_media|length > 0 %}
            <div id="product_images">
                <h2>{% trans "Media" %}</h2>
                {% include "catalogue/partials/gallery.html" %}
            </div>
            {% endif %}
            {% endwith %}
            <div id="product_reviews">


                {% iffeature "reviews" %}
                    {% block product_review %}
                        <h2>{% trans "Customer Reviews" %}</h2>

                        {% if product.num_approved_reviews == 0 %}
                        <p>
                            {% if product|is_review_permitted:user %}
                                {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                                    {% blocktrans %}This product does not have any reviews yet -
                                    <a href="{{ add_review_url }}#addreview">be the first to write one</a>.
                                {% endblocktrans %}
                            {% else %}
                                {% trans "This product does not have any reviews yet" %}.
                            {% endif %}
                        </p>
                        {% else %}
                        <div class="flex-container review-container">
                            <div class="fade-left"></div>
                            <div class="fade-container">
                                <ol class="flex-container flexItem review-list" style="min-width:{% widthratio product.num_approved_reviews 1 400 %}px">
                                    {% for review in reviews|slice:":6" %}
                                        <li>
                                        {% include 'catalogue/partials/review.html' %}
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                            <div class="fade-right"></div>
                        </div>
                        {% if not product|is_review_permitted:user %}
                            {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                            <a class="btn" href="{{ add_review_url }}#addreview">{% trans "Write a review"%}</a>
                        {% endif %}
                        <div>
                            {% if product.num_approved_reviews > 3 %}
                                <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}">{% trans "See all reviews" %}</a>
                            {% endif %}
                        </div>
                        {% endif %}
                    {% endblock product_review %}
                {% endiffeature %}
            </div>
            {% endblock %}

            {% with recommended_products=product.recommended_products.all|slice:":6" %}
                {% if recommended_products %}
                <div id="product_recommended">
                    <h2>{% trans "Recommended items" %}</h2>
                    <ul class="productlist flex-container flex-wrap">
                        {% for product in recommended_products %}
                        <li>
                            {% render_product product %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endwith %}
            
            <!--
            <div id="product_related">
                {% recently_viewed_products %}
            </div>
            -->

        </div>
        <div class="flexItem"></div>
    </div>
    </article><!-- End of product page -->
</div>
{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}
