{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}

{% block product %}
    <article class="product_pod flex-container">
        <div>
            {% with all_images=product.images.all %}
                {% if not product.icon  %}
                    <div class="image_container flex-container">
                        <a href="{{ product.get_absolute_url }}"><img src="{{ STATIC_URL }}shop/img/noimage.jpg" class="thumbnail"></a>
                    </div>
                {% else %}
                    {% block product_image %}
                        <div class="image_container flex-container">
                            {% with image=product.primary_image %}
                                {% thumbnail image.original "x155" upscale=False as thumb %}
                                <a href="{{ product.get_absolute_url }}"><img src="{{ product.icon }}" alt="{{ product.get_title }}" class="thumbnail"></a>
                                {% endthumbnail %}
                            {% endwith %}
                        </div>
                    {% endblock %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="flex-container-vertical flexItem">
            {% block product_title %}
                <h3><a href="{{ product.get_absolute_url }}">{{ product.get_title }}</a>
                    <div class="titleFade"></div>
                </h3>
            {% endblock %}
                <h4 class="owner">{% blocktrans with owner=product.get_owner %}by  {{ owner }} {% endblocktrans %}</h4>

            <div class="flexItem">
            </div>
            <div class="flex-container">
                {% block product_review %}
                    {% iffeature "reviews" %}
                        <div class="flex-container-vertical">
                            <div class="number-rating">
                                {% blocktrans count product.num_approved_reviews as num_reviews %}
                                1 review
                                {% plural %}
                                {{ num_reviews }} reviews
                                {% endblocktrans %}
                            </div>
                            <div class="star-rating {{ product.rating|as_stars }}">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    {% endiffeature %}
                {% endblock %}

                {% block product_price %}
                    <div class="flexItem product_price flex-container-vertical">
                        {% include "catalogue/partials/stock_record.html" %}
                        {% if not product.is_group %}
                            {% include "catalogue/partials/add_to_basket_form_compact.html" %}
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        </div>

    </article>
{% endblock %}
