{% load i18n compress %}
{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js" lang="{{ LANGUAGE_CODE|default:"fi" }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js" lang="{{ LANGUAGE_CODE|default:"fi" }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js" lang="{{ LANGUAGE_CODE|default:"fi" }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ LANGUAGE_CODE|default:"fi" }}" class="no-js"> <!--<![endif]-->
    <head>
        <title>{% if display_version %}[{% trans "Build" %} {{ version }}] {% endif %}{% block title %}{{ shop_name }} - {{ shop_tagline }}{% endblock %}</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="created" content="{% now "jS M Y h:i" %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta name="viewport" content="{% block viewport %}width=device-width{% endblock %}" />

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block favicon %}
            <link rel="shortcut icon" href="{% static "shop/favicon.png" %}" />
        {% endblock %}

        {% block mainstyles %}
            {% block styles %}
                {% compress css %}
                <!--
                        <link rel="stylesheet" type="text/css" href="{% static "oscar/css/styles.css" %}" />
                        <link rel="stylesheet" type="text/css" href="{% static "oscar/css/responsive.css" %}" />
                    -->
                        <link rel="stylesheet" href="{% static "shop/css/main.css" %}">
                {% endcompress %}
            {% endblock %}
        {% endblock %}
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/base/jquery.ui.base.css">
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/base/jquery.ui.theme.css">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.6/slick.css"/>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        {# Additional CSS - specific to certain pages #}
        {% block extrastyles %}{% endblock %}

        {% block extrahead %}
            <script type="text/javascript">
            var hideExtra = false;</script>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
            <script src="{% static "shop/js/modernizr/modernizr.js" %}"></script>
            <script src="{% static "shop/js/jquery-ajax/jquery.ajax.min.js" %}"></script>
            <script src="{% static "shop/js/bower_components/jquery-ui/ui/minified/jquery-ui.min.js"%}"></script>
            <script src="{% static "shop/js/bower_components/jquery.oembed/index.js"%}"></script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.3.6/slick.min.js"></script>
            <script src="https://mepin.com/javascripts/mepinlogin.js"></script>
        {% endblock %}
    </head>

    <body id="{% block body_id %}default{% endblock %}" class="{% block body_class %}default{% endblock %}">
        {# Main content goes in this 'layout' block #}
        {% block layout %}
        {% endblock %}

        {% if messages %}
        <div class="py-messages">
            <a class="close-btn">X</a>
            <ul>
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        
        {% block cdn_scripts %}
            <!-- jQuery -->
            <script>window.jQuery || document.write('<script src="{% static "oscar/js/jquery/jquery-1.9.1.min.js" %}"><\/script>')</script>
        {% endblock %}

        {# Local scripts #}
        {% block scripts %}
            {% compress js %}
            <!-- Twitter Bootstrap -->
            <script type="text/javascript" src="{% static "oscar/js/bootstrap/bootstrap.min.js" %}"></script>
            <!-- Oscar -->
            <script src="{% static "oscar/js/oscar/ui.js" %}" type="text/javascript" charset="utf-8"></script>
            {% endcompress %}
        {% endblock %}

        {# Additional JS scripts #}
        {% block extrascripts %}{% endblock %}

        {# Block for body onload functions #}
        <script type="text/javascript">
            $(function() {
                oscar.init();
                {% block onbodyload %}{% endblock %}
            });
        </script>

        {# Page meta-data - this is populated by the 'metadata' template context processor #}
        <!-- {% trans "Version:" %} {{ version }} -->
    </body>
</html>
