{% extends "base.html" %}
{% load compress %}
{% load promotion_tags %}

{% block layout %}

<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

{% include "partials/pv_menu.html" %}

{% include "partials/nav_primary.html" %}
<div class="flexItem flex-container">
    <div id="content" class="flex-container flex-wrap">
        <div id="content-column" class="flexItem5">
            {% block content %}{% endblock %}
        </div>

        <div id="blog-column" class="flexItem">
            <h1>Newsfeed</h1>

            <h1>Blogs</h1>

            <div class="blog-post">
                <h2><a href="#">First post</a></h2>

                <h3><a href="#">by Author</a></h3>

                <p>Bacon ipsum dolor sit amet ut officia pastrami t-bone frankfurter chicken sint pork nisi
                    shankle dolore meatball. Tempor in excepteur reprehenderit. Ullamco anim pork boudin<a
                            href="#">...</a>
            </div>
            <div class="blog-post">
                <h2><a href="#">Second post</a></h2>

                <h3><a href="#">by Author</a></h3>

                <p>Bacon ipsum dolor sit amet ut officia pastrami t-bone frankfurter chicken sint pork nisi
                    shankle dolore meatball. Tempor in excepteur reprehenderit. Ullamco anim pork boudin<a
                            href="#">...</a>
            </div>
            <h1>Q&A</h1>

            <div class="qaa">
                abc
            </div>
        </div>
    </div>
</div>

{% include "extras/extrascripts.html" %}
{% endblock %}
