{% extends "base.html" %}
{% load compress %}
{% load promotion_tags %}

{% block layout %}

<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="barshadow"></div>
{% include "partials/pv_menu.html" %}

{% include "partials/nav_primary.html" %}
<div class="flexItem flex-container">
    <div id="content" class="flex-container flex-wrap">
        <div id="content-column" class="flexItem5">
            {% block content %}{% endblock %}
        </div>

        {% include "partials/sidebar.html" %}
    </div>
</div>
<div class="barshadow"></div>

{% include "extras/extrascripts.html" %}
{% endblock %}
