{% extends "layout.html" %}
{% load i18n %}
{% block title %}
    {{ summary }} Rekisteriseloste | {{ block.super }}
{% endblock %}

{% block content %}
    <div class="infoWrapper">
        <h2>EducloudAlliancen sähköisten palveluiden asiakasrekisteri</h2>
        <h1>REKISTERISELOSTE</h1>
        <h3>1. Rekisterinpitäjä </h3>
        <p>Nimi: ......</p>


        <h3>2. Rekisteriasioista vastaava henkilö</h3>
        <p>Nimi: Matti Meikäläinen<br />
        Postiosoite:<br />
        Puhelin:<br />
        Sähköposti:<br />
        </p>
        <h3>3.	Rekisterin nimi</h3>
        <p>....</p>

        <h3>4.	Henkilötietojen käsittelyn tarkoitus</h3>
        <p>Aliquam erat volutpat. Fusce elementum purus id pretium pretium.
        Sed nec dolor vel ante pretium posuere in id velit. Fusce dui justo, tincidunt eget pretium ac, scelerisque sit amet orci.
        Suspendisse id sodales eros, sed ullamcorper nisl. Proin semper, mi vitae tristique sagittis, neque tortor vestibulum dui,
        pharetra commodo metus nunc eu tortor.</p>

        <h3>5.	Rekisterin tietosisältö</h3>
        <p>
        Rekisteri voi sisältää seuraavia tietoja:

        Aliquam erat volutpat. Fusce elementum purus id pretium pretium.
        Sed nec dolor vel ante pretium posuere in id velit. Fusce dui justo, tincidunt eget pretium ac, scelerisque sit amet orci.
        Suspendisse id sodales eros, sed ullamcorper nisl. Proin semper, mi vitae tristique sagittis, neque tortor vestibulum dui,
        pharetra commodo metus nunc eu tortor.
        </p>

        <h3>6.	Säännönmukaiset tietolähteet</h3>

        <p>Asiakasta koskevat tiedot saadaan säännönmukaisesti:

        Aliquam erat volutpat. Fusce elementum purus id pretium pretium.
        Sed nec dolor vel ante pretium posuere in id velit. Fusce dui justo, tincidunt eget pretium ac, scelerisque sit amet orci.
        Suspendisse id sodales eros, sed ullamcorper nisl. Proin semper, mi vitae tristique sagittis, neque tortor vestibulum dui,
        pharetra commodo metus nunc eu tortor.
        </p>

        <h3>7.	Säännönmukaiset tietojen luovutukset ja tietojen siirto EU:n tai Euroopan talousalueen ulkopuolelle</h3>
        <p>
        Tietoja luovutetaan säännönmukaisesti:

        Aliquam erat volutpat. Fusce elementum purus id pretium pretium.
        Sed nec dolor vel ante pretium posuere in id velit. Fusce dui justo, tincidunt eget pretium ac, scelerisque sit amet orci.
        Suspendisse id sodales eros, sed ullamcorper nisl. Proin semper, mi vitae tristique sagittis, neque tortor vestibulum dui,
        pharetra commodo metus nunc eu tortor.
        </p>

        <h3>8.	Rekisteröidyn oikeudet</h3>

        <p>Tarkastus- ja oikaisuoikeus

        Aliquam erat volutpat. Fusce elementum purus id pretium pretium.
        Sed nec dolor vel ante pretium posuere in id velit. Fusce dui justo, tincidunt eget pretium ac, scelerisque sit amet orci.
        Suspendisse id sodales eros, sed ullamcorper nisl. Proin semper, mi vitae tristique sagittis, neque tortor vestibulum dui,
        pharetra commodo metus nunc eu tortor.</p>

        <h3>9.	Rekisterin suojauksen periaatteet</h3>

        <p>Manuaalinen aineisto

        Manuaalista aineistoa ei ole.

        Sähköisesti tallennetut tiedot
        Aliquam erat volutpat. Fusce elementum purus id pretium pretium.
        Sed nec dolor vel ante pretium posuere in id velit. Fusce dui justo, tincidunt eget pretium ac, scelerisque sit amet orci.
        Suspendisse id sodales eros, sed ullamcorper nisl. Proin semper, mi vitae tristique sagittis, neque tortor vestibulum dui,
        pharetra commodo metus nunc eu tortor.</p>
    </div>
{% endblock content %}
