$icon-font-path: "/bower/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
//@import 'vendor/bower/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower
@import 'fontface';


@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);
@import url(//fonts.googleapis.com/css?family=Nunito:400,300,700);
@include fontFace('Sanchez','fonts/Sanchez');


$default-font: Nunito, Helvetica, sans-serif;

$font-body: Nunito, Helvetica, sans-serif;

$r2500-content-width: 2500px;
$r1920-content-width: 1920px;
$r1440-content-width: 1440px;
$r1280-content-width: 1280px;
$r1024-content-width: 1024px;
$r1024-content-width: 1024px;
$r800-content-width: 800px;

$basis-content-column: 250px;
$basis-blog-column: 200px;

$basis-product-item: 200px;

$header-height: 60px;

$menu-width: 50px;
$menu-icons-width: 24px;
$menu-icons-padding: ($menu-width - $menu-icons-width) / 2;
$menu-icons-gap: 24px;
$menu-box-bridge-width: 5px;
$nav-height: 80px;
$tab-header-height: 40px;

$orange: rgb(242,66,71);
$blue-main: rgb(55,169,224);
$blue-main-hover: rgb(89,178,226);
$light-blue: rgb(167,216,240);
$green-main: rgb(46,237,196);
$green-main-a85: rgba(46,237,196,0.85);
$light-gray: rgb(230,230,230);
$gray: rgb(179,179,179);
$gray-hover: rgb(199,199,199);
$dark-gray: rgb(102,102,102);
