$icon-font-path: "/bower/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
//@import 'vendor/bower/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower
@import 'fontface';


@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);
@import url(//fonts.googleapis.com/css?family=Nunito:400,300,700);
@include fontFace('Sanchez','fonts/Sanchez');


$default-font: Nunito, Helvetica, sans-serif;

$font-body: Nunito, Helvetica, sans-serif;

$r2500-content-width: 2500px;
$r1920-content-width: 1920px;
$r1440-content-width: 1440px;
$r1280-content-width: 1280px;
$r1024-content-width: 1024px;
$r800-content-width: 800px;

$basis-content-column: 250px;
$basis-blog-column: 200px;

$basis-product-item: 340px;

$header-height: 60px;
$footer-height: 50px;

$nav-height: 65px;
$menu-icons-width: 26px;
$tab-header-height: 40px;

$orange: rgb(242,66,71);
$blue-main-hover: rgb(89,178,226);
$light-blue: rgb(150,206,238);
$green-main: rgb(26,173,125);
$green-main-a85: rgba(46,237,196,0.85);
$gray-hover: rgb(199,199,199);



$notification-red: rgb(255,55,73);

$green: rgb(0,182,126);

$blue: rgb(0,169,228);
$dark-blue: rgb(0,128,188);

$light-gray: rgb(241,241,241);
$gray: rgb(153,153,153);
$dark-gray: rgb(77,77,77);
