@import "compass";

#checkout-stages {
  padding: 4em 0em 7.5em 0em;
  text-align: center;
  @include user-select(none);

  .stage {
    padding-bottom: 6px;
    background: $light-gray;
    transition: all 0.5s;
    > div {
      background: $light-gray;
      border-bottom: 1px solid $gray;
      padding: 0.6em;
      transition: all 0.5s;
    }
  }
  a.stage {
    color: $dark-gray;
    text-decoration: none;
  }
  a.stage:hover {
    background: $blue;
    > div {
      border-bottom: 1px solid $blue;
    }
  }
  .stage.selected {
    background: $dark-blue;
    > div {
      background: $light-gray;
    }
  }
}

.legend-bar{
  .thumbnail-ghost {
    margin-right: 0.8em;
    width: 100px;
  }
  .quantity {
    text-align: center;
    width: 183px;
  }
}
.price {
  text-align: center;
  width: 140px;
}
.subtotal {
  text-align: center;
  width: 140px;
}

#basket_formset {
  .basket-items:last-child {
    border-bottom: 1px solid $gray;
  }
  .basket-items {
    padding: 0.6em 0px;
    border-top: 1px solid $gray;
    
    .title {
      font-size: 13pt;
      a {
        color: $dark-gray;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .owner {
      font-size: 11.5pt;
      color: $gray;
      font-weight: lighter;
    }
    .remove-btn {
      font-size: 10pt;
      font-weight: lighter;
      color: $gray;
      a {
        color: $gray;
        text-decoration: none;
      }
      a:hover {
        color: #cc0000;
      }
    }
    .checkout-quantity {
      padding: 0.5em 1em;
      min-width: 150px;
      text-align: center;
      input {
        font-size: 11pt;
        text-align: right;
        color: $dark-gray;
        background: transparent;
        border: 1px solid $gray;
        width: 45px;
        border-radius: 5px;
      }
      button {
        background: $dark-blue;
        color: white;
        border: none;
        font-weight: lighter;
        padding: 0.3em 1em;
        font-size: 10pt;
      }
      .error-block {
        font-weight: normal;
        color: red;
      }
    }
    .thumbnail {
      margin-right: 0.8em;
      height: 100px;
      width: 100px;
      background: $dark-gray;
    }
  }
  .price, .subtotal {
    padding: 0.5em 0.5em;
    font-size: 15pt;
  }

}
.totals-line {
  .label{
    padding: 0.9em 0.5em 0.5em 0.5em;
    font-size: 12pt;
    line-height: 15pt;
    color: $dark-gray;
  }
  .price {
    padding: 0.5em 0.5em;
    font-size: 15pt;
  }
}
.half-box {
  padding: 0em 0em 5em 0em;
  ul {
    list-style: none;
    padding: 0px;
    margin: 1em 0em;
  }
  .disclaimer {
    font-size: 9pt;
    font-weight: lighter;
    a {
      color: $dark-gray;
    }
  }
  select {
    background: $light-gray;
    border: 1px solid $gray;
    height: 2.2em;
    margin: 1em 0em;
  }
}
.sub-header {
  h2 {
    font-weight: lighter;
    color: $gray;
    font-size: 16pt;
    margin: 0px;
  }
}

#empty-basket, #pending-order {
  height: 200px;
  line-height: 200px;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  text-align: center;
  font-size: 20pt;
  color: $gray;
  font-weight: lighter;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: url('../img/ShoppingBasket.Icon.White.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 160px 160px;
}
#pending-order {
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 16pt;
  line-height: 18pt;
}
.form-actions {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin: 3em 0em; 
  a, button {
    border: none;
    background: $blue;
    color: white;
    padding: 0.7em 3em;
    text-decoration: none;
    font-size: 14pt;
  }
}