@import "normalize";
@import "base";
@import "buttons";
@import "animate/animate";
@import "compass";

* {
  box-sizing: border-box;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: $default-font;
}

*:focus {
    outline: none;
}
a {
    color: $orange;
}

textarea, input { outline: none; }

.flex-container{
    display: -webkit-flex !important;
    display: flex !important;
    /*flex-direction: row | row-reverse | column | column-reverse;*/
    /*flex-wrap: nowrap | wrap | wrap-reverse;*/
    /*flex-flow: <‘flex-direction’> || <‘flex-wrap’>*/
    /*justify-content: flex-start | flex-end | center | space-between | space-around;*/
    /*align-items: flex-start | flex-end | center | baseline | stretch;*/
    /*align-content: flex-start | flex-end | center | space-between | space-around | stretch;*/
}

.flex-container-vertical {
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-box-orient: vertical;
   -moz-box-orient: vertical;
   -ms-flex-direction: column;
    -webkit-flex-direction: column;
   flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.flexItem{
    -webkit-flex: 1;
    flex: 1;
}
.flexItem2{
    -webkit-flex: 2;
    flex: 2;
}
.flexItem3{
    -webkit-flex: 3;
    flex: 3;
}
.flexItem4{
    -webkit-flex: 4;
    flex: 4;
}
.flexItem5{
    -webkit-flex: 5;
    flex: 5;
}

.barshadow {
    height: $nav-height;
    width: 100%;
}
footer {
    background: $gray;
}


#uppermenu {
    color: $gray;
    z-index: 100;
    height: $nav-height;
    width: 100%;
    position: fixed;
    top: 0px;

    background: $dark-gray;

    .menu-header {
        height: $nav-height;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        .menu-head-icon {
            width: 150px;
            height: $nav-height - 20;
            margin: 10px;
            background-repeat: no-repeat;
        }
    }
    #profile-icon.green{
        background: rgb(0,200,0);
        svg {
            path.hoverable {
                fill: #ffffff;
            }
            circle.hoverable {
                stroke: #ffffff;
            }
        }
    }
    #generalSearch {
        form {
            line-height: $nav-height;
            > div {
                border: 2px solid $gray;
                margin: $nav-height*0.25 20px;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
            }
            svg {
                height: $nav-height - $nav-height*0.5 - 4px;
                width: $nav-height - $nav-height*0.5;
                padding: 5px;
            }
            input {
                float: left;
                color: white;
                border: none;
                padding: 0px 2%;
                width: 96%;
                background: transparent;
                height: $nav-height * 0.5 - 4px;
            }
        }
        .focus {
            background: $dark-blue;
            border-color: white;
            svg path {
                fill: white;
            }
        }
    }
    .basket-mini {
        overflow: scroll;
        max-height: 300px;
        .basket-mini-item {
            list-style: none;
            padding: 0px;
            margin: 0px;
            li {
                padding: 10px;
                text-align: left;
                a{
                    color: $dark-gray;
                }
            }
            li:nth-child(even){
                background: white;
            }
            li:nth-child(odd){
                background: $light-gray;
            }
        }
    }
    .mini-basket-total {
        .flexItem4 {
            padding-right: 10px;
            text-align: right;
        }
        .flexItem {
            padding-right: 10px;
            text-align: left;
        }
    }

    .menu-separator {
        height: 2px;
        background: white;
        width: $menu-icons-width;
        margin-left: $menu-icons-padding;
        margin-bottom: ($nav-height - $menu-icons-width) / 2;
        border-radius: 5px;
    }
    .menu-icon {
        @media screen and (max-width: $r1024-content-width) {
        }
        cursor: pointer;
        margin: 0px;
        width: $nav-height;
        height: $nav-height;
        padding: (($nav-height - $menu-icons-width) / 2);
    }
    #icons > .flexItem:hover {
        background: $blue;

        path.hoverable {
            fill: #ffffff;
        }
        circle.hoverable {
            stroke: #ffffff;
        }
    /*
    */
    }
    #icons > .flexItem.active {
        background: $dark-blue;
        path.hoverable {
            fill: #ffffff;
        }
        circle.hoverable {
            stroke: #ffffff;
        }
    }
    #icons > .flexItem.active:hover {
        background: $dark-blue;
    }
    #icons > .flexItem {
        max-height: $nav-height;
        width: $nav-height;
        position: relative;
        -webkit-transition: all 0.1s; /* For Safari 3.1 to 6.0 */
        transition: all 0.1s;
    }
    .notification-number {
        position: absolute;
        bottom: 10px;
        right: 5px;
        min-width: 16px;
        background: $notification-red;
        border-radius: 50px;
        color: white;
        font-size: 14px;
        line-height: 16px;
        padding: 0px 3px;
    }
    #language-icon {
        text-align: center;
        .menu-icon {
            padding: 2px;
        }
        .menu-icon > svg {
            height: 11pt;
            width: 11pt;
            padding-top: 3px;
            margin: 0px 0px -3px 5px;
        }
        .menu-icon:hover {
            color: white;
            svg text {
                fill: white;
            }
            svg path {
                stroke: white;
            }
        }
        .menu-box {
            display: none;
            min-width: 130px;
            min-height: 30px;
            font-size: 10pt;
            padding: 10px 5px;
            background: $dark-blue;
            button {
                color: black;
            }
        }
    }
    .menu-box {
        display: none;
        position: absolute;
        right: 0px;
        top: $nav-height;
        color: white;
        min-height: $menu-icons-width + $menu-icons-gap;
        min-width: 400px;
        z-index: 200;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);

        .profile-pic-small {
            border-radius: 200px;
            height: $nav-height * 0.6;
            width: $nav-height * 0.6;
            background-color: $dark-gray;
            background-size: cover;
            background-position: center;
            float: left;
            margin-right: 10px;
            margin-top: $nav-height * 0.2;
            border: 1px solid $dark-gray;
        }
        
        .menu-box-header {
            background: $dark-blue;
            height: $nav-height * 0.7;
            line-height: $nav-height * 0.7;
            font-size: 12pt;
            text-align: left;
            padding: 0px 15px;
            text-transform: uppercase;
        }
        .menu-box-content {
            color: $dark-gray;
            @include user-select(text);
            border-bottom: 10px solid $dark-blue;
            border-left: 10px solid $dark-blue;
            border-right: 10px solid $dark-blue;
            background: white;
            .menu-box-footer {
                @include user-select(none);
                height: $nav-height / 2;
                border-top: 5px solid $dark-blue;
                line-height: $nav-height / 2;

                a.btn {
                    text-align: center;
                    color: $green-main;
                    text-decoration: none;
                }
                a.btn:hover {
                    //background: $light-gray;
                    font-weight: bold;
                }
            }
        }
        
    }

    #filters{
        
        #menu-subjects {

            text-align: center;
            font-size: 19px;
            padding: 0px 13px;
            margin: 2px 0px 0px 0px;
            text-transform: uppercase;
            height: $nav-height;
            line-height: $nav-height;
            cursor: pointer;
            position: relative;
            > svg {
                height: 14pt;
                width: 14pt;
                margin: 0px 0px -3px 6px;
                padding-top: 3px;
            }
            @media screen and (max-width: $r1280-content-width) {
                padding: 0px;
                > svg {
                    margin: 0px 7px -3px 0px;
                    
                }
            }
        }
        #menu-subjects:hover, #menu-grades:hover, #menu-types:hover {
            color: $blue;
            svg text {
                fill: $blue;
            }
            svg path {
                stroke: $blue;
            }
        }

    }
    #addTags{
        @media screen and (max-width: $r1280-content-width) {
            text-align: right;
        }
        form {
            display: inline-block;
            line-height: $nav-height;
            padding-left: 13px;
            @media screen and (max-width: $r1280-content-width) {
                line-height: $nav-height / 3;
                height: $nav-height / 3;
            }
            input {
                margin: 0px 5px 0px 0px;
                font-size: 10pt;
                border: none;
                padding: 1px 4px;
                color: white;
                border-radius: 3px;
                width: 155px;
                background: $dark-gray;

            }
        }

        .label {
            float: left;
            margin: 0px;
            padding: 0px 10px 0px 13px;
            font-size: 14pt;
            line-height: $nav-height;
            height: $nav-height;
            @media screen and (max-width: 1100px) {
                float: none;
                padding: 0px 0px 0px 13px;
                line-height: $nav-height / 2;
                height: $nav-height / 2;
            
            }
        }
    }
}
#tagsFilter{
    flex-basis: $basis-blog-column;
    -webkit-flex-basis: $basis-blog-column;
    align-items: center;
    -webkit-align-items: center;
    align-content: center;
    -webkit-align-content: center;
    .tag{
        display: inline-block;
        position: relative;
        background: $dark-gray;
        color: white;
        font-size: 9pt;
        line-height: 9pt;
        padding: 2px 11px 2px 4px;
        margin: 2px;
        border-radius: 3px;
        div {
            position: absolute;
            top: 0px;
            right: 2px;
            font-size: 9pt;
            line-height: 9pt;
        }
    }
}

#sidebar {
    /*
    flex-basis: $basis-blog-column;
    -webkit-flex-basis: $basis-blog-column;
    */
    position: fixed;
    right: 0px;
    top: $nav-height;
    max-width: 400px;
    margin: 0px;
    padding: 0px;
    color: $dark-gray;
    z-index: 300;
    height: 100%;

    #accordion-switch {
        position: absolute;
        text-align: center;
        width: $accordion-switch-width;
        height: $accordion-switch-width * 5;
        left: -$accordion-switch-width;
        padding: 5px 0px;
        background: $orange;
        text-transform: uppercase;
        cursor: pointer;
        @include user-select(none);
        > p {
            margin: 0;
            padding: 20px 0px;
            color: white;
            transform:rotate(90deg);
            -ms-transform:rotate(90deg);
            -webkit-transform:rotate(90deg);
            line-height: $accordion-switch-width;
            
        }

    }
    #tabs-sidebar {
        background: $light-gray;
        ul {
            @include user-select(none);
            height: $tab-header-height;
            text-align: center;
            list-style: none;
            padding: 0px;
            margin: 0px;
            li {
                background-color: $gray;
                line-height: $tab-header-height;
                font-size: 12pt;
                cursor: pointer;
                
            }
            li:hover{
                background-color: $gray-hover;
                
            }
            li.ui-tabs-active {
                background-color: $light-gray;
                a {
                    cursor: default;
                }
            }
            a{
                color: $dark-gray;
                text-decoration: none;
                width: 100%;
            }
        }
    }
    > h1 {
        font-size: 18px;
        padding-left: 10px;
    }

    a {
        color: $dark-gray;
        text-decoration: none;
    }
    h2 {
        margin: 0px;
        font-size: 12pt;
    }
    h3 {
        margin: 0px;
        font-size: 11pt;
        font-weight: 300;
    }
    .posts, .kysy{
        padding: 8px;
        p {
            font-size: 10pt;
        }

    }
    .qaa {
        padding: 8px;
        height: 800px;
    }
}

#content {
    width: 100%;
    padding: $nav-height/2 $nav-height;

    .content-center {
        width: 1000px;
        @media screen and (min-width: 1600px) {
            width: 1200px;
        }
    }
    
    .box-page {
        color: $dark-gray;

        .profile-pic-medium {
            border-radius: 200px;
            height: 60px;
            width: 60px;
            background-color: $dark-gray;
            background-size: cover;
            background-position: center;
            float: left;
            margin-top: 10px;
            margin-right: 15px;
            border: 1px solid $dark-gray;
        }

        h2 {
            font-weight: normal;
            padding: 0px 10px;
        }

        .content-box {
            background: $light-gray;
            padding: 10px;
            margin: 10px;
            min-width: 350px;
        }
    }

    article.product_pod {
        padding: 15px;
        color: $dark-gray;
        h3 {
            font-weight: normal;
            margin: 0px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 13pt;
        }
        .owner {
        }
        .product_price h2 {
            font-size: 16pt;
            margin: 10px 0px;
        }
        h4 {
            margin: 0px;
            font-weight: lighter;
            font-size: 10pt;
        }
        a {
            text-decoration: none;
            color: $dark-gray;
        }
        .image_container {
            justify-content: center;
            -webkit-justify-content: center;
            text-align: center;
            img {
                width: 80px;
                background-color: $dark-gray;
            }
        }
    }

    .productlist {
        list-style: none;
        padding: 0px;
        margin: 0px;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;

        li {
            overflow: hidden;
            border: 1px solid $light-gray;
            float: left;
            width: $basis-product-item;
        }
        a:hover {
            color: $blue;
        }

    }
    section.product-section {
        width: 100%;
        
    }

    article.product_page {
        color: $dark-gray;
        > .flex-container-vertical > div {
            border-bottom: 2px solid $light-gray;
            padding: 0px 0px 25px 0px;
        }
        > .flex-container-vertical > div:first-child {
            padding: 0px;
        }
        #tabs-product {
            height: $tab-header-height;
            text-align: center;
            ul {
                @include user-select(none);
                text-align: center;
                list-style: none;
                padding: 0px;
                margin: 0px;
                li {
                    background-color: $gray;
                    line-height: $tab-header-height;
                    font-size: 12pt;
                    cursor: pointer;
                    
                }
                li:hover{
                    background-color: $gray-hover;
                    
                }
                li.ui-tabs-active {
                    background-color: $light-gray;
                    a {
                        cursor: default;
                    }
                }
                a{
                    color: $dark-gray;
                    text-decoration: none;
                    width: 100%;
                }
            }
            #addbasket-tab form, #wishlist-tab form {
                .totalPriceLabel{
                    font-size: 16pt;
                    padding: 5px 0px 0px 0px;
                }
                .totalPriceValue{
                    font-size: 16pt;
                    padding: 0px 0px 30px 0px;
                }
                .control-group {
                    font-size: 16pt;
                    padding: 40px 0px 15px;

                    label, div {
                        display: inline-block;
                    }
                    input {
                        width: 50px;
                        border: none;
                        background: $green-main;
                        color: white;
                        text-align: center;
                        border-radius: 4px;
                    }
                }
                button {
                    background: $green-main;
                    border: none;
                    color: white;
                    padding: 5px 15px;
                }
            }
        }
        .main {
            h1, h2, h3, h4, h5, h6, p {
                margin: 0px;
            }
            .thumbnail{
                img {
                    margin-right: 17px;
                    height: 191px;
                    width: 191px;
                    border: 1px solid $light-gray;
                    background-color: $dark-gray;
                }
            }
            .title {
                text-align: left;
                margin: 0px;
                h1 {
                    font-size: 28pt;
                    font-weight: normal;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
            .owner {
                font-size: 16pt;
                font-weight: lighter;
            }
            .price {
                justify-content: flex-end;
                -webkit-justify-content: flex-end;
                .price_color {
                    font-weight: normal;
                }
                text-align: left;
                color: red;
                font-weight: bold;

            }
            .rating {
                justify-content: flex-end;
                -webkit-justify-content: flex-end;
                font-size: 13pt;
                font-weight: bold;
                p {
                    margin: 5px 0px;
                    i.fa {
                        font-size: 15pt;
                        margin-right: 5px;
                    }
                }
            }
            .subject h3, .grade h3, .type h3 {
                font-size: 10pt;
                font-weight: bold;
            }
            .subject p, .grade p, .type p {
                font-size: 15pt;
                font-weight: normal;
            }
            .line {
                align-items: center;
                -webkit-align-items: center;
            }
            
            .product-action-box{
                width: 300px;
                background: $light-gray;
            }
            
        }
        .big-line {
            margin: 25px 0px;
            .thumb-line {
                margin-right: 17px;
                width: 191px;
            }
        }
        h2 {
            font-size: 19pt;
            font-weight: lighter;
            padding: 0px;
        }
        p {
            font-size: 13pt;

        }
        .product-info {
            font-size: 10pt;
            margin-bottom: 20px;

            tr {
                th {
                    text-align: left;
                    padding: 6px 10px;
                    border-right: 1px solid #ddd;
                    min-width: 180px;
                }
                td {
                    //border: 1px solid $gray;
                    padding: 6px 10px 6px 20px;
                    text-align: left;
                    min-width: 400px;
                }
            }
            tr:nth-child(odd) {
                background: $light-gray;
            }
            tr:nth-child(even) {
                background: white;
            }
        }
        .carousel {
            .slick-prev::before, .slick-next::before {
                color: $dark-gray !important;
                background: white;
                border-radius: 50%;
                font-size: 30px;
            }
            img{
                max-width: 100%;
                margin: auto;
                border: 1px solid #666666;
            }
            .slick-prev{
                left: -5px;
            }
            .slick-next{
                right: -5px;
            }
        }
        .review-list {
            list-style: none;
            justify-content: center;
            -webkit-justify-content: center;
        }
    }
}

.py-messages {
    position: fixed;
    background: rgba(255,255,102,0.85);
    border: 2px solid $dark-gray;
    color: black;
    top: 15px;
    right: 15px;
    left: 15px;
    z-index: 9999;
    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        li {
            padding: 20px 15px;
        }
    }
    .close-btn {
        position: relative;
        float: right;
        right: 0px;
        top: 0px;
        margin: 5px;
        border-radius: 5px;
        border: 2px solid $dark-gray;
        color: $dark-gray;
        background: white;
        line-height: 30px;
        height: 30px;
        width: 30px;
        text-align: center;
        cursor: pointer;
        
    }
    .close-btn:hover {
        background: $light-blue;
    }
}



@media screen and (min-width: 1200px) {
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}

@media print {
    #uppermenu, #product_related, #product_recommended {
        display: none !important;
    }
}
