@import "base";
@import "normalize";
@import "animate/animate";
@import "compass";

* {
  box-sizing: border-box;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
html, body {
    width: 100%;
}
body {
    height: 0px; //Fix for weird bug
    font-family: $default-font;
}

textarea, input { outline: none; }

.flex-container{
    display: -webkit-flex !important;
    display: flex !important;
    /*flex-direction: row | row-reverse | column | column-reverse;*/
    /*flex-wrap: nowrap | wrap | wrap-reverse;*/
    /*flex-flow: <‘flex-direction’> || <‘flex-wrap’>*/
    /*justify-content: flex-start | flex-end | center | space-between | space-around;*/
    /*align-items: flex-start | flex-end | center | baseline | stretch;*/
    /*align-content: flex-start | flex-end | center | space-between | space-around | stretch;*/
}

.flex-container-vertical {
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-box-orient: vertical;
   -moz-box-orient: vertical;
   -ms-flex-direction: column;
    -webkit-flex-direction: column;
   flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.flexItem{
    -webkit-flex: 1;
    flex: 1;
}
.flexItem2{
    -webkit-flex: 2;
    flex: 2;
}
.flexItem3{
    -webkit-flex: 3;
    flex: 3;
}
.flexItem4{
    -webkit-flex: 4;
    flex: 4;
}
.flexItem5{
    -webkit-flex: 5;
    flex: 5;
}


.barshadow {
    width: $menu-width;
    height: 100%;
}
#pvmenu {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: $blue-main;
    width: $menu-width;
    text-align: center;

    .menu-header {
        width: $menu-width;
        background: white;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        .menu-head-icon {
            width: $menu-width;
            height: $nav-height;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    #newsfeedShortcuts {
        line-height: $nav-height;
        a {
            text-decoration: none;
            color: white;
        }

    }
    #generalSearch {
        line-height: $nav-height;
        input {
            color: black;
            border: 1px solid rgba(255,255,255,0.5);
            border-radius: 10px;
            padding: 0px 5px;
            width: 150px;
        }
    }
    .menu-separator {
        height: 2px;
        background: white;
        width: $menu-icons-width;
        margin-left: $menu-icons-padding;
        margin-bottom: $menu-icons-gap / 2;
        border-radius: 5px;
    }
    .menu-icon {
        @media screen and (max-width: $r1024-content-width) {
        }
        cursor: pointer;
        margin: 0px;
        width: $menu-icons-width;
        height: $menu-icons-width;
        margin: ($menu-icons-gap / 2);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    #icons svg:hover {
        path.hoverable {
            fill: $green-main;
        }
        circle.hoverable {
            stroke: $green-main;
        }
    }
    #icons > .flexItem {
        position: relative;
    }
    .menu-box {
        display: none;
        position: absolute;
        top: 0px;
        left: $menu-width;
        background: $green-main-a85;
        color: black;
        border-radius: 0px 5px 5px 0px;
        min-height: $menu-icons-width + $menu-icons-gap;
        min-width: 300px;
        z-index: 200;
    }
}

#language-selector {
    position: fixed;
    z-index: 200;
    top: 0px;
    right: 20px;
    font-size: 11pt;
    min-width: 50px;
    padding: 5px;
    cursor: pointer;
    text-align: right;
    color: $gray;
    .menu-icon > svg {
        height: 11pt;
        width: 11pt;
        padding-top: 3px;
        margin: 0px 0px -3px 5px;
    }
    .menu-icon:hover {
        color: $blue-main;
        svg text {
            fill: $blue-main;
        }
        svg path {
            stroke: $blue-main;
        }
    }
    .menu-box {
        display: none;
        font-size: 10pt;
        border: 1px solid $gray;
        border-radius: 3px;
        padding: 8px 3px;
        background: white;
        button {
            color: black;
        }
    }
}

#uppermenu {
    color: $gray;
    z-index: 100;
    height: $nav-height;
    position: fixed;
    top: 0px;
    right: 0px;
    left: $menu-width;
    @include filter-gradient(#ffffff, #ffffff, vertical);
    @include background-image(linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 30%,rgba(255,255,255,1) 100%));


    #filters{
        
        #menu-subjects, #menu-grades, #menu-types {

            text-align: center;
            font-size: 14pt;
            padding: 0px 13px;
            margin: 0px;
            text-transform: uppercase;
            height: $nav-height;
            line-height: $nav-height;
            cursor: pointer;
            position: relative;
            > svg {
                height: 14pt;
                width: 14pt;
                margin: 0px 0px -3px 10px;
                padding-top: 3px;
            }
            @media screen and (max-width: $r1024-content-width) {
                padding: 0px;
                > svg {
                    margin: 0px 7px -3px 0px;
                    
                }
            }
            ul{
                width: 100%;
                display: none;
                text-align: left;
                background: $green-main-a85;
                position: absolute;
                top: $nav-height;
                left: 0px;
                list-style: none;
                padding: 0px;
                margin: 0px;
                li{
                    color: black;
                    text-transform: none;
                    height: $nav-height/2;
                    line-height: $nav-height/2;
                    padding: 1px 7px;
                    margin: 0px;

                }
                li:hover {
                    background: rgba(255,255,255,0.3);
                }

            }
        }
        #menu-subjects:hover, #menu-grades:hover, #menu-types:hover {
            color: $blue-main;
            svg text {
                fill: $blue-main;
            }
            svg path {
                stroke: $blue-main;
            }
        }

    }
    #addTags{
        @media screen and (max-width: 1100px) {
            text-align: right;
        }
        form {
            display: inline-block;
            line-height: $nav-height;
            @media screen and (max-width: 1100px) {
                line-height: $nav-height / 3;
                height: $nav-height / 3;
            }
            input {
                margin: 0px;
                font-size: 10pt;
                border: none;
                padding: 1px 4px;
                color: white;
                border-radius: 5px;
                width: 105px;
                background: $dark-gray;
            }
        }

        .label {
            float: left;
            margin: 0px;
            padding: 0px 10px 0px 13px;
            font-size: 14pt;
            line-height: $nav-height;
            height: $nav-height;
            @media screen and (max-width: 1100px) {
                float: none;
                padding: 0px 0px 0px 13px;
                line-height: $nav-height / 2;
                height: $nav-height / 2;
            
            }
        }
    }
}
#tagsFilter{
    flex-basis: $basis-blog-column;
    -webkit-flex-basis: $basis-blog-column;
    align-items: center;
    -webkit-align-items: center;
    align-content: center;
    -webkit-align-content: center;
    .tag{
        display: inline-block;
        position: relative;
        background: $dark-gray;
        color: white;
        font-size: 9pt;
        line-height: 9pt;
        padding: 2px 11px 2px 4px;
        margin: 2px;
        border-radius: 3px;
        div {
            position: absolute;
            top: 0px;
            right: 2px;
            font-size: 9pt;
            line-height: 9pt;
        }
    }
}

#sidebar {
    /*
    flex-basis: $basis-blog-column;
    -webkit-flex-basis: $basis-blog-column;
    */
    position: fixed;
    right: 0px;
    top: $nav-height;
    max-width: 400px;
    margin: 0px;
    padding: 0px;
    color: $dark-gray;
    background: $light-gray;
    z-index: 300;

    #accordion-switch {
        position: relative;
        text-align: center;
        height: $tab-header-height;
        width: $tab-header-height * 0.7;
        left: -$tab-header-height * 0.7;
        background: $light-gray;
        border-radius: 50% 0px 0px 50%;
        cursor: pointer;
        img {
            height: $tab-header-height * 0.4;
            margin-top: $tab-header-height * 0.3;
        }
    }

    .tabs {
        text-align: center;
        height: $tab-header-height;
        background-color: $gray;
        margin-top: -$tab-header-height;
        
        .tab {
            line-height: $tab-header-height;
            font-size: 16pt;
            cursor: pointer;
        }
        .tab:hover {
            background-color: rgba(255,255,255,0.3);

        }
        .tab.active {
            background-color: $light-gray;
        }
    }
    > h1 {
        font-size: 18px;
        padding-left: 10px;
    }

    a {
        color: $dark-gray;
        text-decoration: none;
    }
    h2 {
        margin: 0px;
        font-size: 12pt;
    }
    h3 {
        margin: 0px;
        font-size: 11pt;
        font-weight: 300;
    }
    .posts, .kysy{
        padding: 8px;
        p {
            font-size: 10pt;
        }

    }
    .qaa {
        padding: 8px;
        height: 800px;
    }
}

#content {
    width: 100%;
    padding-top: $nav-height;
    z-index: -10;
    

    #content-column {
        padding: 23px 15px;

        .productlist {
            list-style: none;
            width: 100%;
            padding: 0px;
            margin: 0px;

            li {
                text-align: center;
                border: 1px solid $light-gray;
                flex-basis: $basis-product-item;
                -webkit-flex-basis: $basis-product-item;
            }

        }
        section.product-section {
            width: 100%;
            
        }

        article.product_page {
            color: $dark-gray;
            > .flex-container-vertical > div {
                border-bottom: 2px solid $light-gray;
            }
            .main {
                h1, h2, h3, h4, h5, h6, p {
                    margin: 0px;
                }
                .title {
                    text-align: left;
                    h1 {
                        font-size: 28pt;
                        font-weight: normal;
                    }
                }
                .price {
                    text-align: right;
                    padding-right: 1em;

                }
                .thumbnail{
                    img {
                        margin-right: 17px;
                        height: 191px;
                        width: 191px;
                        background-color: $dark-gray;
                    }
                }
                .owner {
                    font-size: 19pt;
                    font-weight: lighter;
                }
                .rating {
                    font-size: 18pt;
                    font-weight: bold;
                }
                .subject h3, .grade h3, .type h3 {
                    font-size: 14pt;
                    font-weight: normal;
                }
                .subject p, .grade p, .type p {
                    font-size: 18pt;
                    font-weight: normal;
                }
                
                .product-action-box{
                    background: $light-gray;
                }
                
            }
            h2 {
                font-size: 19pt;
                font-weight: normal;
            }
            p {
                font-size: 13pt;

            }
            .carousel {
                .slick-prev::before, .slick-next::before {
                    color: $dark-gray !important;
                    background: white;
                    border-radius: 50%;
                    font-size: 30px;
                }
                img{
                    max-width: 100%;
                    margin: auto;
                }
                .slick-prev{
                    left: -5px;
                }
                .slick-next{
                    right: -5px;
                }
            }
        }

    }
}



@media screen and (min-width: 1200px) {
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        /*margin-bottom: 30px;*/
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
