@import "normalize";
@import "base";
@import "buttons";
@import "animate/animate";
@import "compass";

* {
  box-sizing: border-box;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
html, body {
    width: 100%;
}
body {
    height: 0px; //Fix for weird bug
    font-family: $default-font;
}

*:focus {
    outline: none;
}
a {
    color: $orange;
}

textarea, input { outline: none; }

.flex-container{
    display: -webkit-flex !important;
    display: flex !important;
    /*flex-direction: row | row-reverse | column | column-reverse;*/
    /*flex-wrap: nowrap | wrap | wrap-reverse;*/
    /*flex-flow: <‘flex-direction’> || <‘flex-wrap’>*/
    /*justify-content: flex-start | flex-end | center | space-between | space-around;*/
    /*align-items: flex-start | flex-end | center | baseline | stretch;*/
    /*align-content: flex-start | flex-end | center | space-between | space-around | stretch;*/
}

.flex-container-vertical {
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-box-orient: vertical;
   -moz-box-orient: vertical;
   -ms-flex-direction: column;
    -webkit-flex-direction: column;
   flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.flexItem{
    -webkit-flex: 1;
    flex: 1;
}
.flexItem2{
    -webkit-flex: 2;
    flex: 2;
}
.flexItem3{
    -webkit-flex: 3;
    flex: 3;
}
.flexItem4{
    -webkit-flex: 4;
    flex: 4;
}
.flexItem5{
    -webkit-flex: 5;
    flex: 5;
}

.barshadow {
    width: $menu-width;
    height: 100%;
}
#pvmenu {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: $blue-main;
    width: $menu-width;
    text-align: center;
    @include user-select(none);

    .menu-header {
        width: $menu-width;
        background: white;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        .menu-head-icon {
            width: $menu-width;
            height: $nav-height;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    #profile-icon.green{
        background: rgb(0,200,0);
    }
    #generalSearch {
        line-height: $menu-width;
        input {
            color: black;
            border: 1px solid $blue-main;
            padding: 0px 2%;
            width: 96%;
            height: $menu-width * 0.5;
        }
        button {
            background: none;
            border: none;
            text-decoration: none;
            color: $green-main;
            font-size: 12pt;
            padding: 0px 15px;
        }
    }
    .basket-mini {
        overflow: scroll;
        max-height: 300px;
        .basket-mini-item {
            list-style: none;
            padding: 0px;
            margin: 0px;
            li {
                padding: 10px;
                text-align: left;
                a{
                    color: $dark-gray;
                }
            }
            li:nth-child(even){
                background: white;
            }
            li:nth-child(odd){
                background: $light-gray;
            }
        }
    }
    .mini-basket-total {
        .flexItem4 {
            padding-right: 10px;
            text-align: right;
        }
        .flexItem {
            padding-right: 10px;
            text-align: left;
        }
    }

    .menu-separator {
        height: 2px;
        background: white;
        width: $menu-icons-width;
        margin-left: $menu-icons-padding;
        margin-bottom: ($menu-width - $menu-icons-width) / 2;
        border-radius: 5px;
    }
    .menu-icon {
        @media screen and (max-width: $r1024-content-width) {
        }
        cursor: pointer;
        margin: 0px;
        width: $menu-width;
        height: $menu-width;
        padding: (($menu-width - $menu-icons-width) / 2);
    }
    #icons > .flexItem:hover {
        background: $blue-main-hover;
    /*
        path.hoverable {
            fill: $green-main;
        }
        circle.hoverable {
            stroke: $green-main;
        }
    */
    }
    #icons > .flexItem.active {
        background: $light-blue;
        width: $menu-width + $menu-box-bridge-width;
    }
    #icons > .flexItem.active:hover {
        background: $light-blue;
    }
    #icons > .flexItem {
        max-height: $menu-width;
        width: $menu-width;
        position: relative;
        -webkit-transition: all 0.1s; /* For Safari 3.1 to 6.0 */
        transition: all 0.1s;
    }
    .notification-number {
        position: absolute;
        bottom: 10px;
        right: 5px;
        min-width: 16px;
        background: #f60000;
        border-radius: 50px;
        color: white;
        font-size: 14px;
        line-height: 16px;
        padding: 0px 3px;
    }
    .menu-box {
        display: none;
        position: absolute;
        left: $menu-width + $menu-box-bridge-width;
        top: 0px;
        color: $dark-gray;
        min-height: $menu-icons-width + $menu-icons-gap;
        min-width: 500px;
        z-index: 200;

        .profile-pic-small {
            border-radius: 200px;
            height: $menu-width * 0.6;
            width: $menu-width * 0.6;
            background-color: $dark-gray;
            background-size: cover;
            background-position: center;
            float: left;
            margin-right: 10px;
            margin-top: $menu-width * 0.2;
            border: 1px solid $dark-gray;
        }
        
        .menu-box-header {
            background: $light-blue;
            height: $menu-width;
            line-height: $menu-width;
            font-size: 16pt;
            text-align: left;
            padding: 0px $menu-box-bridge-width * 2;
        }
        .menu-box-content {
            @include user-select(text);
            display: none;
            border-bottom: 3px solid $light-blue;
            border-left: 3px solid $light-blue;
            border-right: 3px solid $light-blue;
            background: white;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
            .menu-box-footer {
                @include user-select(none);
                height: $menu-width / 2;
                border-top: 3px solid $light-blue;
                line-height: $menu-width / 2;

                a.btn {
                    color: $green-main;
                    text-decoration: none;
                }
                a.btn:hover {
                    //background: $light-gray;
                    font-weight: bold;
                }
            }
        }
        .menu-bridge{
            position: absolute;
            background: $light-blue;
            height: $menu-width;
            width: $menu-box-bridge-width;
            left: -$menu-box-bridge-width;
        }
    }
}

#language-selector {
    position: fixed;
    z-index: 200;
    top: 0px;
    right: $menu-width;
    font-size: 11pt;
    min-width: 50px;
    padding: 5px;
    text-align: right;
    background: rgba(255,255,255,0.85);
    border-radius: 0px 0px 10px 10px;
    color: $gray;
    @include user-select(none);
    .menu-icon {
        cursor: pointer;
    }
    .menu-icon > svg {
        height: 11pt;
        width: 11pt;
        padding-top: 3px;
        margin: 0px 0px -3px 5px;
    }
    .menu-icon:hover {
        color: $blue-main;
        svg text {
            fill: $blue-main;
        }
        svg path {
            stroke: $blue-main;
        }
    }
    .menu-box {
        display: none;
        font-size: 10pt;
        border-radius: 10px;
        padding: 10px 5px;
        background: $blue-main;
        button {
            color: black;
        }
    }
}

#uppermenu {
    color: $gray;
    z-index: 100;
    height: $nav-height;
    position: fixed;
    top: 0px;
    right: $menu-width;
    left: $menu-width;
    @include user-select(none);
    @include filter-gradient(#ffffff, #ffffff, vertical);
    @include background-image(linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 30%,rgba(255,255,255,1) 100%));


    #filters{
        
        #menu-subjects, #menu-grades, #menu-types, #menu-publishers {

            text-align: center;
            font-size: 14pt;
            padding: 0px 13px;
            margin: 0px;
            text-transform: uppercase;
            height: $nav-height;
            line-height: $nav-height;
            cursor: pointer;
            position: relative;
            > svg {
                height: 14pt;
                width: 14pt;
                margin: 0px 0px -3px 10px;
                padding-top: 3px;
            }
            @media screen and (max-width: $r1280-content-width) {
                padding: 0px;
                > svg {
                    margin: 0px 7px -3px 0px;
                    
                }
            }
            ul{
                width: 100%;
                display: none;
                text-align: left;
                background: $light-blue;
                position: absolute;
                top: $nav-height;
                left: 0px;
                list-style: none;
                padding: 0px;
                margin: 0px;
                li{
                    color: black;
                    text-transform: none;
                    height: $nav-height/2;
                    line-height: $nav-height/2;
                    padding: 1px 7px;
                    margin: 0px;

                }
                li:hover {
                    background: rgba(255,255,255,0.3);
                }

            }
        }
        #menu-subjects:hover, #menu-grades:hover, #menu-types:hover, #menu-publishers:hover {
            color: $blue-main;
            svg text {
                fill: $blue-main;
            }
            svg path {
                stroke: $blue-main;
            }
        }

    }
    #addTags{
        @media screen and (max-width: $r1280-content-width) {
            text-align: right;
        }
        form {
            display: inline-block;
            line-height: $nav-height;
            @media screen and (max-width: $r1280-content-width) {
                line-height: $nav-height / 3;
                height: $nav-height / 3;
            }
            input {
                margin: 0px 5px 0px 0px;
                font-size: 10pt;
                border: none;
                padding: 1px 4px;
                color: white;
                border-radius: 5px;
                width: 105px;
                background: $dark-gray;
            }
        }

        .label {
            float: left;
            margin: 0px;
            padding: 0px 10px 0px 13px;
            font-size: 14pt;
            line-height: $nav-height;
            height: $nav-height;
            @media screen and (max-width: 1100px) {
                float: none;
                padding: 0px 0px 0px 13px;
                line-height: $nav-height / 2;
                height: $nav-height / 2;
            
            }
        }
    }
}
#tagsFilter{
    flex-basis: $basis-blog-column;
    -webkit-flex-basis: $basis-blog-column;
    align-items: center;
    -webkit-align-items: center;
    align-content: center;
    -webkit-align-content: center;
    .tag{
        display: inline-block;
        position: relative;
        background: $dark-gray;
        color: white;
        font-size: 9pt;
        line-height: 9pt;
        padding: 2px 11px 2px 4px;
        margin: 2px;
        border-radius: 3px;
        div {
            position: absolute;
            top: 0px;
            right: 2px;
            font-size: 9pt;
            line-height: 9pt;
        }
    }
}

#sidebar {
    /*
    flex-basis: $basis-blog-column;
    -webkit-flex-basis: $basis-blog-column;
    */
    position: fixed;
    right: 0px;
    top: $nav-height;
    max-width: 400px;
    margin: 0px;
    padding: 0px;
    color: $dark-gray;
    z-index: 300;
    height: 100%;

    #accordion-switch {
        position: absolute;
        text-align: center;
        width: $accordion-switch-width;
        height: $accordion-switch-width * 5;
        left: -$accordion-switch-width;
        padding: 5px 0px;
        background: $orange;
        text-transform: uppercase;
        cursor: pointer;
        @include user-select(none);
        > p {
            margin: 0;
            padding: 20px 0px;
            color: white;
            transform:rotate(90deg);
            -ms-transform:rotate(90deg);
            -webkit-transform:rotate(90deg);
            line-height: $accordion-switch-width;
            
        }

    }
    #tabs-sidebar {
        background: $light-gray;
        ul {
            @include user-select(none);
            height: $tab-header-height;
            text-align: center;
            list-style: none;
            padding: 0px;
            margin: 0px;
            li {
                background-color: $gray;
                line-height: $tab-header-height;
                font-size: 12pt;
                cursor: pointer;
                
            }
            li:hover{
                background-color: $gray-hover;
                
            }
            li.ui-tabs-active {
                background-color: $light-gray;
                a {
                    cursor: default;
                }
            }
            a{
                color: $dark-gray;
                text-decoration: none;
                width: 100%;
            }
        }
    }
    > h1 {
        font-size: 18px;
        padding-left: 10px;
    }

    a {
        color: $dark-gray;
        text-decoration: none;
    }
    h2 {
        margin: 0px;
        font-size: 12pt;
    }
    h3 {
        margin: 0px;
        font-size: 11pt;
        font-weight: 300;
    }
    .posts, .kysy{
        padding: 8px;
        p {
            font-size: 10pt;
        }

    }
    .qaa {
        padding: 8px;
        height: 800px;
    }
}

#content {
    width: 100%;
    padding: $nav-height 20px;
    z-index: -10;


    .content-900 {
        width: 900px;
    }
    
    .box-page {
        color: $dark-gray;

        .profile-pic-medium {
            border-radius: 200px;
            height: 60px;
            width: 60px;
            background-color: $dark-gray;
            background-size: cover;
            background-position: center;
            float: left;
            margin-top: 10px;
            margin-right: 15px;
            border: 1px solid $dark-gray;
        }

        h2 {
            font-weight: normal;
            padding: 0px 10px;
        }

        .content-box {
            background: $light-gray;
            padding: 10px;
            margin: 10px;
            min-width: 350px;
        }
    }

    article.product_pod {
        padding: 15px;
        color: $dark-gray;
        h3 {
            font-weight: normal;
            margin: 0px;
        }
        a {
            text-decoration: none;
            color: $dark-gray;
        }
        .image_container {
            justify-content: center;
            -webkit-justify-content: center;
            text-align: center;
            img {
                max-width: 75%;
                background-color: $dark-gray;
            }
        }
    }

    .productlist {
        list-style: none;
        width: 100%;
        padding: 0px;
        margin: 0px;

        li {
            border: 1px solid $light-gray;
            flex-basis: $basis-product-item;
            -webkit-flex-basis: $basis-product-item;
        }
        li:hover {
            background: $light-gray;
        }

    }
    section.product-section {
        width: 100%;
        
    }

    article.product_page {
        color: $dark-gray;
        > .flex-container-vertical > div {
            border-bottom: 2px solid $light-gray;
        }
        #tabs-product {
            height: $tab-header-height;
            text-align: center;
            ul {
                @include user-select(none);
                text-align: center;
                list-style: none;
                padding: 0px;
                margin: 0px;
                li {
                    background-color: $gray;
                    line-height: $tab-header-height;
                    font-size: 12pt;
                    cursor: pointer;
                    
                }
                li:hover{
                    background-color: $gray-hover;
                    
                }
                li.ui-tabs-active {
                    background-color: $light-gray;
                    a {
                        cursor: default;
                    }
                }
                a{
                    color: $dark-gray;
                    text-decoration: none;
                    width: 100%;
                }
            }
            #addbasket-tab form, #wishlist-tab form {
                .totalPriceLabel{
                    font-size: 16pt;
                    padding: 15px 0px 0px 0px;
                }
                .totalPriceValue{
                    font-size: 16pt;
                    padding: 0px 0px 15px 0px;
                }
                .control-group {
                    font-size: 16pt;
                    padding: 15px 0px;

                    label, div {
                        display: inline-block;
                    }
                    input {
                        width: 50px;
                        border: none;
                        background: #666;
                        color: white;
                        text-align: center;
                        border-radius: 4px;
                    }
                }
                button {
                    background: $dark-gray;
                    border: none;
                    color: white;
                    padding: 5px 15px;
                }
            }
        }
        .main {
            h1, h2, h3, h4, h5, h6, p {
                margin: 0px;
            }
            .firstrow {
                align-items: center;
                -webkit-align-items: center;
            }
            .title {
                text-align: left;
                margin: 10px 0px;
                h1 {
                    font-size: 28pt;
                    font-weight: normal;
                }
            }
            .price {
                text-align: right;
                padding-right: 1em;

            }
            .thumbnail{
                img {
                    margin-right: 17px;
                    height: 191px;
                    width: 191px;
                    background-color: $dark-gray;
                    border: 1px solid #666666;
                }
            }
            .owner {
                font-size: 19pt;
                font-weight: lighter;
            }
            .rating {
                font-size: 18pt;
                font-weight: bold;
            }
            .subject h3, .grade h3, .type h3 {
                font-size: 14pt;
                font-weight: normal;
            }
            .subject p, .grade p, .type p {
                font-size: 18pt;
                font-weight: normal;
            }
            
            .product-action-box{
                background: $light-gray;
            }
            
        }
        h2 {
            font-size: 19pt;
            font-weight: normal;
            padding: 0px;
        }
        p {
            font-size: 13pt;

        }
        .product-info {
            font-size: 10pt;
            margin-bottom: 20px;

            tr {
                border-bottom: 1px solid $gray;
                th {
                    text-align: right;
                    padding: 3px 7px;
                    border-right: 1px solid $gray;
                }
                td {
                    padding: 3px 7px;
                    text-align: left;
                }
            }
        }
        .carousel {
            .slick-prev::before, .slick-next::before {
                color: $dark-gray !important;
                background: white;
                border-radius: 50%;
                font-size: 30px;
            }
            img{
                max-width: 100%;
                margin: auto;
                border: 1px solid #666666;
            }
            .slick-prev{
                left: -5px;
            }
            .slick-next{
                right: -5px;
            }
        }
        .review-list {
            list-style: none;
        }
    }
}

.py-messages {
    position: fixed;
    background: rgba(255,255,102,0.85);
    border: 2px solid $dark-gray;
    color: black;
    top: 15px;
    right: 15px;
    left: 15px;
    z-index: 9999;
    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        li {
            padding: 20px 15px;
        }
    }
    .close-btn {
        position: relative;
        float: right;
        right: 0px;
        top: 0px;
        margin: 5px;
        border-radius: 5px;
        border: 2px solid $dark-gray;
        color: $dark-gray;
        background: white;
        line-height: 30px;
        height: 30px;
        width: 30px;
        text-align: center;
        cursor: pointer;
        
    }
    .close-btn:hover {
        background: $light-blue;
    }
}



@media screen and (min-width: 1200px) {
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}

@media print {
    #pvmenu, #uppermenu, #language-selector, #product_related, #product_recommended {
        display: none !important;
    }
}
