@-webkit-keyframes bounceOutUp {
  /* line 2, ../../sass/animate/bounceOutUp.scss */
  0% {
    -webkit-transform: translateY(0);
  }

  /* line 3, ../../sass/animate/bounceOutUp.scss */
  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
  }

  /* line 4, ../../sass/animate/bounceOutUp.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
}

@-moz-keyframes bounceOutUp {
  /* line 8, ../../sass/animate/bounceOutUp.scss */
  0% {
    -moz-transform: translateY(0);
  }

  /* line 9, ../../sass/animate/bounceOutUp.scss */
  20% {
    opacity: 1;
    -moz-transform: translateY(20px);
  }

  /* line 10, ../../sass/animate/bounceOutUp.scss */
  100% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
}

@-ms-keyframes bounceOutUp {
  /* line 14, ../../sass/animate/bounceOutUp.scss */
  0% {
    -ms-transform: translateY(0);
  }

  /* line 15, ../../sass/animate/bounceOutUp.scss */
  20% {
    opacity: 1;
    -ms-transform: translateY(20px);
  }

  /* line 16, ../../sass/animate/bounceOutUp.scss */
  100% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
  }
}

@-o-keyframes bounceOutUp {
  /* line 20, ../../sass/animate/bounceOutUp.scss */
  0% {
    -o-transform: translateY(0);
  }

  /* line 21, ../../sass/animate/bounceOutUp.scss */
  20% {
    opacity: 1;
    -o-transform: translateY(20px);
  }

  /* line 22, ../../sass/animate/bounceOutUp.scss */
  100% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
}

@keyframes bounceOutUp {
  /* line 26, ../../sass/animate/bounceOutUp.scss */
  0% {
    transform: translateY(0);
  }

  /* line 27, ../../sass/animate/bounceOutUp.scss */
  20% {
    opacity: 1;
    transform: translateY(20px);
  }

  /* line 28, ../../sass/animate/bounceOutUp.scss */
  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}
