@-webkit-keyframes flipOutX {
  /* line 2, ../../sass/animate/flipOutX.scss */
  0% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  /* line 3, ../../sass/animate/flipOutX.scss */
  100% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@-moz-keyframes flipOutX {
  /* line 7, ../../sass/animate/flipOutX.scss */
  0% {
    -moz-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  /* line 8, ../../sass/animate/flipOutX.scss */
  100% {
    -moz-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@-ms-keyframes flipOutX {
  /* line 12, ../../sass/animate/flipOutX.scss */
  0% {
    -ms-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  /* line 13, ../../sass/animate/flipOutX.scss */
  100% {
    -ms-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@-o-keyframes flipOutX {
  /* line 17, ../../sass/animate/flipOutX.scss */
  0% {
    -o-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  /* line 18, ../../sass/animate/flipOutX.scss */
  100% {
    -o-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@keyframes flipOutX {
  /* line 22, ../../sass/animate/flipOutX.scss */
  0% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  /* line 23, ../../sass/animate/flipOutX.scss */
  100% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}
