@-webkit-keyframes flip {
  /* line 2, ../../sass/animate/flip.scss */
  0% {
    -webkit-transform: perspective(400px) rotateY(0);
    -webkit-animation-timing-function: ease-out;
  }

  /* line 3, ../../sass/animate/flip.scss */
  40% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg);
    -webkit-animation-timing-function: ease-out;
  }

  /* line 4, ../../sass/animate/flip.scss */
  50% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -webkit-animation-timing-function: ease-in;
  }

  /* line 5, ../../sass/animate/flip.scss */
  80% {
    -webkit-transform: perspective(400px) rotateY(360deg) scale(0.95);
    -webkit-animation-timing-function: ease-in;
  }

  /* line 6, ../../sass/animate/flip.scss */
  100% {
    -webkit-transform: perspective(400px) scale(1);
    -webkit-animation-timing-function: ease-in;
  }
}

@-moz-keyframes flip {
  /* line 10, ../../sass/animate/flip.scss */
  0% {
    -moz-transform: perspective(400px) rotateY(0);
    -moz-animation-timing-function: ease-out;
  }

  /* line 11, ../../sass/animate/flip.scss */
  40% {
    -moz-transform: perspective(400px) translateZ(150px) rotateY(170deg);
    -moz-animation-timing-function: ease-out;
  }

  /* line 12, ../../sass/animate/flip.scss */
  50% {
    -moz-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -moz-animation-timing-function: ease-in;
  }

  /* line 13, ../../sass/animate/flip.scss */
  80% {
    -moz-transform: perspective(400px) rotateY(360deg) scale(0.95);
    -moz-animation-timing-function: ease-in;
  }

  /* line 14, ../../sass/animate/flip.scss */
  100% {
    -moz-transform: perspective(400px) scale(1);
    -moz-animation-timing-function: ease-in;
  }
}

@-o-keyframes flip {
  /* line 18, ../../sass/animate/flip.scss */
  0% {
    -o-transform: perspective(400px) rotateY(0);
    -o-animation-timing-function: ease-out;
  }

  /* line 19, ../../sass/animate/flip.scss */
  40% {
    -o-transform: perspective(400px) translateZ(150px) rotateY(170deg);
    -o-animation-timing-function: ease-out;
  }

  /* line 21, ../../sass/animate/flip.scss */
  50% {
    -o-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -o-animation-timing-function: ease-in;
  }

  /* line 22, ../../sass/animate/flip.scss */
  80% {
    -o-transform: perspective(400px) rotateY(360deg) scale(0.95);
    -o-animation-timing-function: ease-in;
  }

  /* line 23, ../../sass/animate/flip.scss */
  100% {
    -o-transform: perspective(400px) scale(1);
    -o-animation-timing-function: ease-in;
  }
}

@keyframes flip {
  /* line 26, ../../sass/animate/flip.scss */
  0% {
    transform: perspective(400px) rotateY(0);
    animation-timing-function: ease-out;
  }

  /* line 27, ../../sass/animate/flip.scss */
  40% {
    transform: perspective(400px) translateZ(150px) rotateY(170deg);
    animation-timing-function: ease-out;
  }

  /* line 28, ../../sass/animate/flip.scss */
  50% {
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    animation-timing-function: ease-in;
  }

  /* line 29, ../../sass/animate/flip.scss */
  80% {
    transform: perspective(400px) rotateY(360deg) scale(0.95);
    animation-timing-function: ease-in;
  }

  /* line 30, ../../sass/animate/flip.scss */
  100% {
    transform: perspective(400px) scale(1);
    animation-timing-function: ease-in;
  }
}
