@-webkit-keyframes flipOutY {
  /* line 2, ../../sass/animate/flipOutY.scss */
  0% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }

  /* line 3, ../../sass/animate/flipOutY.scss */
  100% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}

@-moz-keyframes flipOutY {
  /* line 6, ../../sass/animate/flipOutY.scss */
  0% {
    -moz-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }

  /* line 7, ../../sass/animate/flipOutY.scss */
  100% {
    -moz-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}

@-ms-keyframes flipOutY {
  /* line 10, ../../sass/animate/flipOutY.scss */
  0% {
    -ms-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }

  /* line 11, ../../sass/animate/flipOutY.scss */
  100% {
    -ms-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}

@-o-keyframes flipOutY {
  /* line 14, ../../sass/animate/flipOutY.scss */
  0% {
    -o-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }

  /* line 15, ../../sass/animate/flipOutY.scss */
  100% {
    -o-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}

@keyframes flipOutY {
  /* line 18, ../../sass/animate/flipOutY.scss */
  0% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }

  /* line 19, ../../sass/animate/flipOutY.scss */
  100% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}
