@-webkit-keyframes rollIn {
  /* line 4, ../../sass/animate/rollIn.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
  }

  /* line 5, ../../sass/animate/rollIn.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
  }
}

@-moz-keyframes rollIn {
  /* line 9, ../../sass/animate/rollIn.scss */
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%) rotate(-120deg);
  }

  /* line 10, ../../sass/animate/rollIn.scss */
  100% {
    opacity: 1;
    -moz-transform: translateX(0px) rotate(0deg);
  }
}

@-ms-keyframes rollIn {
  /* line 14, ../../sass/animate/rollIn.scss */
  0% {
    opacity: 0;
    -ms-transform: translateX(-100%) rotate(-120deg);
  }

  /* line 15, ../../sass/animate/rollIn.scss */
  100% {
    opacity: 1;
    -ms-transform: translateX(0px) rotate(0deg);
  }
}

@-o-keyframes rollIn {
  /* line 19, ../../sass/animate/rollIn.scss */
  0% {
    opacity: 0;
    -o-transform: translateX(-100%) rotate(-120deg);
  }

  /* line 20, ../../sass/animate/rollIn.scss */
  100% {
    opacity: 1;
    -o-transform: translateX(0px) rotate(0deg);
  }
}

@keyframes rollIn {
  /* line 24, ../../sass/animate/rollIn.scss */
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }

  /* line 25, ../../sass/animate/rollIn.scss */
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}
