@-webkit-keyframes rotateOutUpRight {
  /* line 2, ../../sass/animate/rotateOutUpRight.scss */
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }

  /* line 3, ../../sass/animate/rotateOutUpRight.scss */
  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }
}

@-moz-keyframes rotateOutUpRight {
  /* line 7, ../../sass/animate/rotateOutUpRight.scss */
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }

  /* line 8, ../../sass/animate/rotateOutUpRight.scss */
  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(90deg);
    opacity: 0;
  }
}

@-ms-keyframes rotateOutUpRight {
  /* line 12, ../../sass/animate/rotateOutUpRight.scss */
  0% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }

  /* line 13, ../../sass/animate/rotateOutUpRight.scss */
  100% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(90deg);
    opacity: 0;
  }
}

@-o-keyframes rotateOutUpRight {
  /* line 17, ../../sass/animate/rotateOutUpRight.scss */
  0% {
    -o-transform-origin: right bottom;
    -o-transform: rotate(0);
    opacity: 1;
  }

  /* line 18, ../../sass/animate/rotateOutUpRight.scss */
  100% {
    -o-transform-origin: right bottom;
    -o-transform: rotate(90deg);
    opacity: 0;
  }
}

@keyframes rotateOutUpRight {
  /* line 22, ../../sass/animate/rotateOutUpRight.scss */
  0% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }

  /* line 23, ../../sass/animate/rotateOutUpRight.scss */
  100% {
    transform-origin: right bottom;
    transform: rotate(90deg);
    opacity: 0;
  }
}
