@-webkit-keyframes swing {
  /* line 2, ../../sass/animate/swing.scss */
  20%, 40%, 60%, 80%, 100% {
    -webkit-transform-origin: top center;
  }

  /* line 3, ../../sass/animate/swing.scss */
  20% {
    -webkit-transform: rotate(15deg);
  }

  /* line 4, ../../sass/animate/swing.scss */
  40% {
    -webkit-transform: rotate(-10deg);
  }

  /* line 5, ../../sass/animate/swing.scss */
  60% {
    -webkit-transform: rotate(5deg);
  }

  /* line 6, ../../sass/animate/swing.scss */
  80% {
    -webkit-transform: rotate(-5deg);
  }

  /* line 7, ../../sass/animate/swing.scss */
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes swing {
  /* line 11, ../../sass/animate/swing.scss */
  20% {
    -moz-transform: rotate(15deg);
  }

  /* line 12, ../../sass/animate/swing.scss */
  40% {
    -moz-transform: rotate(-10deg);
  }

  /* line 13, ../../sass/animate/swing.scss */
  60% {
    -moz-transform: rotate(5deg);
  }

  /* line 14, ../../sass/animate/swing.scss */
  80% {
    -moz-transform: rotate(-5deg);
  }

  /* line 15, ../../sass/animate/swing.scss */
  100% {
    -moz-transform: rotate(0deg);
  }
}

@-ms-keyframes swing {
  /* line 19, ../../sass/animate/swing.scss */
  20% {
    -ms-transform: rotate(15deg);
  }

  /* line 20, ../../sass/animate/swing.scss */
  40% {
    -ms-transform: rotate(-10deg);
  }

  /* line 21, ../../sass/animate/swing.scss */
  60% {
    -ms-transform: rotate(5deg);
  }

  /* line 22, ../../sass/animate/swing.scss */
  80% {
    -ms-transform: rotate(-5deg);
  }

  /* line 23, ../../sass/animate/swing.scss */
  100% {
    -ms-transform: rotate(0deg);
  }
}

@-o-keyframes swing {
  /* line 27, ../../sass/animate/swing.scss */
  20% {
    -o-transform: rotate(15deg);
  }

  /* line 28, ../../sass/animate/swing.scss */
  40% {
    -o-transform: rotate(-10deg);
  }

  /* line 29, ../../sass/animate/swing.scss */
  60% {
    -o-transform: rotate(5deg);
  }

  /* line 30, ../../sass/animate/swing.scss */
  80% {
    -o-transform: rotate(-5deg);
  }

  /* line 31, ../../sass/animate/swing.scss */
  100% {
    -o-transform: rotate(0deg);
  }
}

@keyframes swing {
  /* line 35, ../../sass/animate/swing.scss */
  20% {
    transform: rotate(15deg);
  }

  /* line 36, ../../sass/animate/swing.scss */
  40% {
    transform: rotate(-10deg);
  }

  /* line 37, ../../sass/animate/swing.scss */
  60% {
    transform: rotate(5deg);
  }

  /* line 38, ../../sass/animate/swing.scss */
  80% {
    transform: rotate(-5deg);
  }

  /* line 39, ../../sass/animate/swing.scss */
  100% {
    transform: rotate(0deg);
  }
}
