@-webkit-keyframes wiggle {
  /* line 2, ../../sass/animate/wiggle.scss */
  0% {
    -webkit-transform: skewX(9deg);
  }

  /* line 3, ../../sass/animate/wiggle.scss */
  10% {
    -webkit-transform: skewX(-8deg);
  }

  /* line 4, ../../sass/animate/wiggle.scss */
  20% {
    -webkit-transform: skewX(7deg);
  }

  /* line 5, ../../sass/animate/wiggle.scss */
  30% {
    -webkit-transform: skewX(-6deg);
  }

  /* line 6, ../../sass/animate/wiggle.scss */
  40% {
    -webkit-transform: skewX(5deg);
  }

  /* line 7, ../../sass/animate/wiggle.scss */
  50% {
    -webkit-transform: skewX(-4deg);
  }

  /* line 8, ../../sass/animate/wiggle.scss */
  60% {
    -webkit-transform: skewX(3deg);
  }

  /* line 9, ../../sass/animate/wiggle.scss */
  70% {
    -webkit-transform: skewX(-2deg);
  }

  /* line 10, ../../sass/animate/wiggle.scss */
  80% {
    -webkit-transform: skewX(1deg);
  }

  /* line 11, ../../sass/animate/wiggle.scss */
  90% {
    -webkit-transform: skewX(0deg);
  }

  /* line 12, ../../sass/animate/wiggle.scss */
  100% {
    -webkit-transform: skewX(0deg);
  }
}

@-moz-keyframes wiggle {
  /* line 16, ../../sass/animate/wiggle.scss */
  0% {
    -moz-transform: skewX(9deg);
  }

  /* line 17, ../../sass/animate/wiggle.scss */
  10% {
    -moz-transform: skewX(-8deg);
  }

  /* line 18, ../../sass/animate/wiggle.scss */
  20% {
    -moz-transform: skewX(7deg);
  }

  /* line 19, ../../sass/animate/wiggle.scss */
  30% {
    -moz-transform: skewX(-6deg);
  }

  /* line 20, ../../sass/animate/wiggle.scss */
  40% {
    -moz-transform: skewX(5deg);
  }

  /* line 21, ../../sass/animate/wiggle.scss */
  50% {
    -moz-transform: skewX(-4deg);
  }

  /* line 22, ../../sass/animate/wiggle.scss */
  60% {
    -moz-transform: skewX(3deg);
  }

  /* line 23, ../../sass/animate/wiggle.scss */
  70% {
    -moz-transform: skewX(-2deg);
  }

  /* line 24, ../../sass/animate/wiggle.scss */
  80% {
    -moz-transform: skewX(1deg);
  }

  /* line 25, ../../sass/animate/wiggle.scss */
  90% {
    -moz-transform: skewX(0deg);
  }

  /* line 26, ../../sass/animate/wiggle.scss */
  100% {
    -moz-transform: skewX(0deg);
  }
}

@-ms-keyframes wiggle {
  /* line 30, ../../sass/animate/wiggle.scss */
  0% {
    -ms-transform: skewX(9deg);
  }

  /* line 31, ../../sass/animate/wiggle.scss */
  10% {
    -ms-transform: skewX(-8deg);
  }

  /* line 32, ../../sass/animate/wiggle.scss */
  20% {
    -ms-transform: skewX(7deg);
  }

  /* line 33, ../../sass/animate/wiggle.scss */
  30% {
    -ms-transform: skewX(-6deg);
  }

  /* line 34, ../../sass/animate/wiggle.scss */
  40% {
    -ms-transform: skewX(5deg);
  }

  /* line 35, ../../sass/animate/wiggle.scss */
  50% {
    -ms-transform: skewX(-4deg);
  }

  /* line 36, ../../sass/animate/wiggle.scss */
  60% {
    -ms-transform: skewX(3deg);
  }

  /* line 37, ../../sass/animate/wiggle.scss */
  70% {
    -ms-transform: skewX(-2deg);
  }

  /* line 38, ../../sass/animate/wiggle.scss */
  80% {
    -ms-transform: skewX(1deg);
  }

  /* line 39, ../../sass/animate/wiggle.scss */
  90% {
    -ms-transform: skewX(0deg);
  }

  /* line 40, ../../sass/animate/wiggle.scss */
  100% {
    -ms-transform: skewX(0deg);
  }
}

@-o-keyframes wiggle {
  /* line 44, ../../sass/animate/wiggle.scss */
  0% {
    -o-transform: skewX(9deg);
  }

  /* line 45, ../../sass/animate/wiggle.scss */
  10% {
    -o-transform: skewX(-8deg);
  }

  /* line 46, ../../sass/animate/wiggle.scss */
  20% {
    -o-transform: skewX(7deg);
  }

  /* line 47, ../../sass/animate/wiggle.scss */
  30% {
    -o-transform: skewX(-6deg);
  }

  /* line 48, ../../sass/animate/wiggle.scss */
  40% {
    -o-transform: skewX(5deg);
  }

  /* line 49, ../../sass/animate/wiggle.scss */
  50% {
    -o-transform: skewX(-4deg);
  }

  /* line 50, ../../sass/animate/wiggle.scss */
  60% {
    -o-transform: skewX(3deg);
  }

  /* line 51, ../../sass/animate/wiggle.scss */
  70% {
    -o-transform: skewX(-2deg);
  }

  /* line 52, ../../sass/animate/wiggle.scss */
  80% {
    -o-transform: skewX(1deg);
  }

  /* line 53, ../../sass/animate/wiggle.scss */
  90% {
    -o-transform: skewX(0deg);
  }

  /* line 54, ../../sass/animate/wiggle.scss */
  100% {
    -o-transform: skewX(0deg);
  }
}

@keyframes wiggle {
  /* line 58, ../../sass/animate/wiggle.scss */
  0% {
    transform: skewX(9deg);
  }

  /* line 59, ../../sass/animate/wiggle.scss */
  10% {
    transform: skewX(-8deg);
  }

  /* line 60, ../../sass/animate/wiggle.scss */
  20% {
    transform: skewX(7deg);
  }

  /* line 61, ../../sass/animate/wiggle.scss */
  30% {
    transform: skewX(-6deg);
  }

  /* line 62, ../../sass/animate/wiggle.scss */
  40% {
    transform: skewX(5deg);
  }

  /* line 63, ../../sass/animate/wiggle.scss */
  50% {
    transform: skewX(-4deg);
  }

  /* line 64, ../../sass/animate/wiggle.scss */
  60% {
    transform: skewX(3deg);
  }

  /* line 65, ../../sass/animate/wiggle.scss */
  70% {
    transform: skewX(-2deg);
  }

  /* line 66, ../../sass/animate/wiggle.scss */
  80% {
    transform: skewX(1deg);
  }

  /* line 67, ../../sass/animate/wiggle.scss */
  90% {
    transform: skewX(0deg);
  }

  /* line 68, ../../sass/animate/wiggle.scss */
  100% {
    transform: skewX(0deg);
  }
}
