@-webkit-keyframes fadeInRightBig {
  /* line 2, ../../sass/animate/fadeInRightBig.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }

  /* line 3, ../../sass/animate/fadeInRightBig.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInRightBig {
  /* line 7, ../../sass/animate/fadeInRightBig.scss */
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }

  /* line 8, ../../sass/animate/fadeInRightBig.scss */
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-ms-keyframes fadeInRightBig {
  /* line 12, ../../sass/animate/fadeInRightBig.scss */
  0% {
    opacity: 0;
    -ms-transform: translateX(2000px);
  }

  /* line 13, ../../sass/animate/fadeInRightBig.scss */
  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}

@-o-keyframes fadeInRightBig {
  /* line 17, ../../sass/animate/fadeInRightBig.scss */
  0% {
    opacity: 0;
    -o-transform: translateX(2000px);
  }

  /* line 18, ../../sass/animate/fadeInRightBig.scss */
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes fadeInRightBig {
  /* line 22, ../../sass/animate/fadeInRightBig.scss */
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }

  /* line 23, ../../sass/animate/fadeInRightBig.scss */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
