@-webkit-keyframes flipInX {
  /* line 2, ../../sass/animate/flipInX.scss */
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 3, ../../sass/animate/flipInX.scss */
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
  }

  /* line 4, ../../sass/animate/flipInX.scss */
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
  }

  /* line 5, ../../sass/animate/flipInX.scss */
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@-moz-keyframes flipInX {
  /* line 8, ../../sass/animate/flipInX.scss */
  0% {
    -moz-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 9, ../../sass/animate/flipInX.scss */
  40% {
    -moz-transform: perspective(400px) rotateX(-10deg);
  }

  /* line 10, ../../sass/animate/flipInX.scss */
  70% {
    -moz-transform: perspective(400px) rotateX(10deg);
  }

  /* line 11, ../../sass/animate/flipInX.scss */
  100% {
    -moz-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@-o-keyframes flipInX {
  /* line 14, ../../sass/animate/flipInX.scss */
  0% {
    -o-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 15, ../../sass/animate/flipInX.scss */
  40% {
    -o-transform: perspective(400px) rotateX(-10deg);
  }

  /* line 16, ../../sass/animate/flipInX.scss */
  70% {
    -o-transform: perspective(400px) rotateX(10deg);
  }

  /* line 17, ../../sass/animate/flipInX.scss */
  100% {
    -o-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes flipInX {
  /* line 20, ../../sass/animate/flipInX.scss */
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 21, ../../sass/animate/flipInX.scss */
  40% {
    transform: perspective(400px) rotateX(-10deg);
  }

  /* line 22, ../../sass/animate/flipInX.scss */
  70% {
    transform: perspective(400px) rotateX(10deg);
  }

  /* line 23, ../../sass/animate/flipInX.scss */
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}
