@-webkit-keyframes lightSpeedIn {
  /* line 2, ../../sass/animate/lightSpeedIn.scss */
  0% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  /* line 3, ../../sass/animate/lightSpeedIn.scss */
  60% {
    -webkit-transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  /* line 4, ../../sass/animate/lightSpeedIn.scss */
  80% {
    -webkit-transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  /* line 5, ../../sass/animate/lightSpeedIn.scss */
  100% {
    -webkit-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

@-moz-keyframes lightSpeedIn {
  /* line 9, ../../sass/animate/lightSpeedIn.scss */
  0% {
    -moz-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  /* line 10, ../../sass/animate/lightSpeedIn.scss */
  60% {
    -moz-transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  /* line 11, ../../sass/animate/lightSpeedIn.scss */
  80% {
    -moz-transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  /* line 12, ../../sass/animate/lightSpeedIn.scss */
  100% {
    -moz-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

@-ms-keyframes lightSpeedIn {
  /* line 16, ../../sass/animate/lightSpeedIn.scss */
  0% {
    -ms-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  /* line 17, ../../sass/animate/lightSpeedIn.scss */
  60% {
    -ms-transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  /* line 18, ../../sass/animate/lightSpeedIn.scss */
  80% {
    -ms-transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  /* line 19, ../../sass/animate/lightSpeedIn.scss */
  100% {
    -ms-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

@-o-keyframes lightSpeedIn {
  /* line 23, ../../sass/animate/lightSpeedIn.scss */
  0% {
    -o-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  /* line 24, ../../sass/animate/lightSpeedIn.scss */
  60% {
    -o-transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  /* line 25, ../../sass/animate/lightSpeedIn.scss */
  80% {
    -o-transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  /* line 26, ../../sass/animate/lightSpeedIn.scss */
  100% {
    -o-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

@keyframes lightSpeedIn {
  /* line 30, ../../sass/animate/lightSpeedIn.scss */
  0% {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  /* line 31, ../../sass/animate/lightSpeedIn.scss */
  60% {
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  /* line 32, ../../sass/animate/lightSpeedIn.scss */
  80% {
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  /* line 33, ../../sass/animate/lightSpeedIn.scss */
  100% {
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}
