@-webkit-keyframes lightSpeedOut {
  /* line 2, ../../sass/animate/lightSpeedOut.scss */
  0% {
    -webkit-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }

  /* line 3, ../../sass/animate/lightSpeedOut.scss */
  100% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}

@-moz-keyframes lightSpeedOut {
  /* line 7, ../../sass/animate/lightSpeedOut.scss */
  0% {
    -moz-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }

  /* line 8, ../../sass/animate/lightSpeedOut.scss */
  100% {
    -moz-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}

@-ms-keyframes lightSpeedOut {
  /* line 12, ../../sass/animate/lightSpeedOut.scss */
  0% {
    -ms-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }

  /* line 13, ../../sass/animate/lightSpeedOut.scss */
  100% {
    -ms-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}

@-o-keyframes lightSpeedOut {
  /* line 17, ../../sass/animate/lightSpeedOut.scss */
  0% {
    -o-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }

  /* line 18, ../../sass/animate/lightSpeedOut.scss */
  100% {
    -o-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  /* line 22, ../../sass/animate/lightSpeedOut.scss */
  0% {
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }

  /* line 23, ../../sass/animate/lightSpeedOut.scss */
  100% {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}
