@-webkit-keyframes tada {
  /* line 2, ../../sass/animate/tada.scss */
  0% {
    -webkit-transform: scale(1);
  }

  /* line 3, ../../sass/animate/tada.scss */
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }

  /* line 4, ../../sass/animate/tada.scss */
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }

  /* line 5, ../../sass/animate/tada.scss */
  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }

  /* line 6, ../../sass/animate/tada.scss */
  100% {
    -webkit-transform: scale(1) rotate(0);
  }
}

@-moz-keyframes tada {
  /* line 10, ../../sass/animate/tada.scss */
  0% {
    -moz-transform: scale(1);
  }

  /* line 11, ../../sass/animate/tada.scss */
  10%, 20% {
    -moz-transform: scale(0.9) rotate(-3deg);
  }

  /* line 12, ../../sass/animate/tada.scss */
  30%, 50%, 70%, 90% {
    -moz-transform: scale(1.1) rotate(3deg);
  }

  /* line 13, ../../sass/animate/tada.scss */
  40%, 60%, 80% {
    -moz-transform: scale(1.1) rotate(-3deg);
  }

  /* line 14, ../../sass/animate/tada.scss */
  100% {
    -moz-transform: scale(1) rotate(0);
  }
}

@-ms-keyframes tada {
  /* line 18, ../../sass/animate/tada.scss */
  0% {
    -ms-transform: scale(1);
  }

  /* line 19, ../../sass/animate/tada.scss */
  10%, 20% {
    -ms-transform: scale(0.9) rotate(-3deg);
  }

  /* line 20, ../../sass/animate/tada.scss */
  30%, 50%, 70%, 90% {
    -ms-transform: scale(1.1) rotate(3deg);
  }

  /* line 21, ../../sass/animate/tada.scss */
  40%, 60%, 80% {
    -ms-transform: scale(1.1) rotate(-3deg);
  }

  /* line 22, ../../sass/animate/tada.scss */
  100% {
    -ms-transform: scale(1) rotate(0);
  }
}

@-o-keyframes tada {
  /* line 26, ../../sass/animate/tada.scss */
  0% {
    -o-transform: scale(1);
  }

  /* line 27, ../../sass/animate/tada.scss */
  10%, 20% {
    -o-transform: scale(0.9) rotate(-3deg);
  }

  /* line 28, ../../sass/animate/tada.scss */
  30%, 50%, 70%, 90% {
    -o-transform: scale(1.1) rotate(3deg);
  }

  /* line 29, ../../sass/animate/tada.scss */
  40%, 60%, 80% {
    -o-transform: scale(1.1) rotate(-3deg);
  }

  /* line 30, ../../sass/animate/tada.scss */
  100% {
    -o-transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  /* line 34, ../../sass/animate/tada.scss */
  0% {
    transform: scale(1);
  }

  /* line 35, ../../sass/animate/tada.scss */
  10%, 20% {
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 36, ../../sass/animate/tada.scss */
  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg);
  }

  /* line 37, ../../sass/animate/tada.scss */
  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 38, ../../sass/animate/tada.scss */
  100% {
    transform: scale(1) rotate(0);
  }
}
