{% load i18n %}
{% load thumbnail %}
{% load currency_filters %}
{% load purchase_info_tags %}

{% if basket_warnings %}
    <h5>{% trans "Important messages about items in your basket" %}</h5>
    {% for warning in basket_warnings %}
        <div class="alert">{{ warning }}</div>
    {% endfor %}
{% endif %}

<div id="checkout-stages" class="flex-container">
    <div class="flexItem stage selected">
        <div>{% trans "Shopping Cart" %}</div>
    </div>
    <div class="flexItem stage">
        <div>{% trans "Order Confirmation" %}</div>
    </div>
    <div class="flexItem stage">
        <div>{% trans "Order Approval" %}</div>
    </div>
</div>


{% if not basket.is_empty %}
    <div class="remove-all-btn">
        <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove"><i class="fa fa-times-circle"></i> {% trans "Remove all items" %}</a>
    </div>
    {% block basket_form_headers %}
        <div class="legend-bar flex-container">
            <div class="thumbnail-ghost"></div>
            <div class="flexItem"></div>
            <div class="quantity">{% trans "Quantity" %}</div>
            <div class="price">{% trans "Individual Price" %}</div>
            <div class="subtotal">{% trans "Subtotal" %}</div>
        </div>
    {% endblock %}

    {% block basket_form_main %}
        <form action="." method="post" class="flex-container-vertical" id="basket_formset">
            {% csrf_token %}
            {{ formset.management_form }}

            {% for form in formset %}
                {% with line=form.instance product=form.instance.product %}
                    {% purchase_info_for_line request line as session %}
                    <div class="basket-items flex-container">
                        <div>
                            {{ form.id }}
                            {% with image=product.primary_image %}
                                {% thumbnail image.original "x155" upscale=False as thumb %}
                                <a href="{{ product.get_absolute_url }}"><img src="{{ product.icon }}" alt="{{ product.get_title }}" class="thumbnail"></a>
                                {% endthumbnail %}
                            {% endwith %}
                        </div>
                        <div class="flex-container-vertical flexItem">
                            <div class="title">
                                <a href="{{ product.get_absolute_url }}">{{ line.description }}</a>
                            </div>
                            <div class="owner">
                                {% blocktrans with owner=product.get_owner %}by  {{ owner }} {% endblocktrans %}
                            </div>
                            <div class="flexItem"></div>
                            <div class="remove-btn">
                                <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove"><i class="fa fa-times-circle"></i> {% trans "Remove" %}</a>
                            </div>
                        </div>
                        <div class="checkout-quantity {% if form.errors %}error{% endif %}">
                            {{ form.quantity }}
                            <button class="btn" type="submit">{% trans "Update" %}</button>
                            <p>
                                {% for field_errors in form.errors.values %}
                                    {% for error in field_errors %}
                                        <span class="error-block"><i class="fa fa-exclamation-circle"></i> {{ error }}</span>
                                    {% endfor %}
                                {% endfor %}
                            </p>
                        </div>
                        <div class="price">
                            {% comment %}
                            {% if line.is_tax_known %}
                                {{ line.unit_price_incl_tax|currency:line.price_currency }}
                            {% else %}
                                {{ line.unit_price_excl_tax|currency:line.price_currency }}
                            {% endif %}
                            {% endcomment %}

                            {% trans "Free" %}
                        </div>
                        <div class="subtotal">
                            {% comment %}
                            {% if line.is_tax_known %}
                                {{ line.line_price_incl_tax|currency:line.price_currency }}
                            {% else %}
                                {{ line.line_price_excl_tax|currency:line.price_currency }}
                            {% endif %}
                            {% endcomment %}

                            {% trans "Free" %}
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </form>
    {% endblock %}

    <div class="totals-line flex-container">
        {% block baskettotals %}
            <div class="flexItem"></div>
            <div class="label">
                {% trans "Total" %}:
            </div>
            <div class="price">
                {% include 'basket/partials/basket_totals.html' with editable=1 %}
            </div>
        {% endblock baskettotals %}
    </div>


    {% block formactions %}
        <div class="form-actions flex-container">
            <a href="{% url 'checkout:index' %}">{% trans "Proceed" %}</a>
        </div>
    {% endblock formactions %}

{% else %}
    {% block emptybasket %}
        <div id="empty-basket">
            -&nbsp;&nbsp;{% trans "Your shopping cart is empty" %}&nbsp;&nbsp;-
        </div>
        <div class="form-actions flex-container">
            <a href="{{ homepage_url }}">{% trans "Continue shopping" %}</a>
        </div>
    {% endblock %}
{% endif %}
