{% extends "layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load purchase_info_tags %}
{% load staticfiles %}

{% block title %}
    {% trans "Checkout" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' %}
{% endblock %}

{% block content %}
<div id="content" class="flex-container grayBackground">
    <div class="flexItem"></div>
    <div class="flex-container-vertical content-center">
        

        <div id="checkout-stages" class="flex-container">
            <a href="{% url 'basket:summary' %}" class="one flexItem stage">
                <div>{% trans "Shopping Cart" %}</div>
            </a>
            <div class="flexItem stage selected">
                <div>{% trans "Order Confirmation" %}</div>
            </div>
            <div class="flexItem stage">
                <div>{% trans "Order Approval" %}</div>
            </div>
        </div>

        {% if error %}
            <div class="alert alert-error">
                {{ error }}
            </div>
        {% endif %}

            <div class="flex-container">
                <div class="flexItem half-box">
                    <div class="sub-header">
                        <h2>{% trans "Your Personal Information" %}</h2>
                    </div>
                    <ul>
                        <li>{{ request.user.get_full_name|default:'-' }}</li>
                        <li>{{ user.email }}</li>
                        <li>Finland</li>
                    </ul>
                    <div class="disclaimer">{% trans "Data acquired from" %}&nbsp;<a href="#">OID</a><br/>
                    <a href="#">{% trans "Report incorrect data" %}</a>
                    </div>


                </div>
                <div class="flexItem half-box">
                    <div class="sub-header">
                    	<!-- Commenting this away from pilot.-->
                        <!--<h2>{% trans "Your Approver's Information" %}</h2>-->
                    </div>
                    	<!-- Commenting this away from pilot.-->
                    <!--<select>
                        <option>{% trans "Select an Approver" %}</option>
                    </select>-->
                </div>
            </div>
        {% block order_contents %}
            <div class="sub-header">
                <h2>{% trans "Order contents" %}</h2>
            </div>
            <div class="legend-bar flex-container">
                <div class="thumbnail-ghost"></div>
                <div class="flexItem"></div>
                <div class="quantity">{% trans "Quantity" %}</div>
                <div class="price">{% trans "Individual Price" %}</div>
                <div class="subtotal">{% trans "Subtotal" %}</div>
            </div>
            <div id="basket_formset" class="flex-container-vertical">
            {% for line in basket.all_lines %}
                {% purchase_info_for_line request line as session %}
                <div class="basket-items flex-container">
                    <div>
                        {% with image=line.product.primary_image %}
                            {% thumbnail image.original "x155" upscale=False as thumb %}
                            <a href="{{ line.product.get_absolute_url }}"><img src="{{ line.product.icon }}" alt="{{ line.product.get_title }}" class="thumbnail"></a>
                            {% endthumbnail %}
                        {% endwith %}
                    </div>
                    <div class="flex-container-vertical flexItem">
                        <div class="title">
                            <a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a>
                        </div>
                        <div class="owner">
                            {% blocktrans with owner=line.product.get_owner %}by  {{ owner }} {% endblocktrans %}
                        </div>
                        <div class="flexItem"></div>
                    </div>
                    <div class="checkout-quantity">
                            {{ line.quantity }}
                    </div>
                    <div class="price">
                        {% comment %}
                        {% if line.is_tax_known %}
                            {{ line.unit_price_incl_tax|currency:line.price_currency }}
                        {% else %}
                            {{ line.unit_price_excl_tax|currency:line.price_currency }}
                        {% endif %}
                        {% endcomment %}

                        {% trans "Free" %}
                    </div>
                    <div class="subtotal">
                        {% comment %}
                        {% if not show_tax_separately and line.is_tax_known %}
                            {{ line.line_price_incl_tax|currency:basket.currency }}
                        {% else %}
                            {{ line.line_price_excl_tax|currency:basket.currency }}
                        {% endif %}
                        {% endcomment %}

                        {% trans "Free" %}
                    </div>
                </div>
            {% endfor %}
            </div>

            <div class="totals-line flex-container">
                    <div class="flexItem"></div>
                    <div class="label">
                        {% trans "Total" %}:
                    </div>
                    <div class="price">
                        {% include 'basket/partials/basket_totals.html' %}
                    </div>
            </div>
        {% endblock order_contents %}


        {% block place_order %}
        {% endblock place_order %}


    </div>
    <div class="flexItem"></div>
</div>

{% endblock content %}
