{% extends "layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans "Confirmation of order" %} {{ order.number }} | {{ block.super }}
{% endblock title %}


{% block content %}

<div id="content" class="flex-container grayBackground">
    <div class="flexItem"></div>
    <div class="flex-container-vertical content-center">

        <div id="checkout-stages" class="flex-container">
            <div class="flexItem stage">
                <div>{% trans "Shopping Cart" %}</div>
            </div>
            <div class="flexItem stage">
                <div>{% trans "Order Confirmation" %}</div>
            </div>
            <div class="flexItem stage selected">
                <div>{% trans "Order Approval" %}</div>
            </div>
        </div>

        <div id="pending-order" class="flex-container-vertical">
            {% trans "Your items can now be dowloaded to your learning management system." %}<br/>
            {% if order.number %}
            {% trans "Your order number is" %}&nbsp;{{ order.number }}
            {% endif %}
        </div>

       {% block order_actions %}
        <div class="form-actions flex-container">
            <a href="{% url 'customer:summary' %}">{% trans "Check Pending Items Status" %}</a>
        </div>
        {% endblock order_actions %}

    </div>
    <div class="flexItem"></div>
</div>
{% endblock content %}

{% block tracking %}
    {% include "partials/google_analytics_transaction.html" %}
{% endblock %}
