{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Login or register' %} | {{ block.super }}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div id="content" class="grayBackground">

    <div class="flex-container">
        <div class="flexItem"></div>
        <div class="content-center back-button">
            <a href="javascript:history.back()"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;{% trans "Go back"%}</a>
        </div>
        <div class="flexItem"></div>
    </div>
    <div class="flex-container">
        <div class="flexItem"></div>
        <div class="box-page content-center flex-container-vertical">
            <h3>{% trans 'Please login by using the menu bar' %}
            </h3>
        </div>
        <div class="flexItem"></div>
    </div>

</div>

{% endblock content %}
