<script src="{{ STATIC_URL }}shop/js/bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}shop/js/bower_components/jquery-hoverIntent/jquery.hoverIntent.js"></script>

<script type="text/javascript">

    // Animations
    //$('#content').addClass('animated fadeInDown');

    $(document).ready(function(){
        $('img.svg').each(function(){
            var $img = $(this);
            var imgID = $img.attr('id');
            var imgClass = $img.attr('class');
            var imgURL = $img.attr('src');

            $.get(imgURL, function(data) {
                // Get the SVG tag, ignore the rest
                var $svg = $(data).find('svg');

                // Add replaced image's ID to the new SVG
                if(typeof imgID !== 'undefined') {
                    $svg = $svg.attr('id', imgID);
                }
                // Add replaced image's classes to the new SVG
                if(typeof imgClass !== 'undefined') {
                    $svg = $svg.attr('class', imgClass+' replaced-svg');
                    if( imgClass.indexOf('menu-icon') > -1) {
                        $svg = $svg.click(toggleMenuItem);
                    }
                }


                // Remove any invalid XML tags as per http://validator.w3.org
                $svg = $svg.removeAttr('xmlns:a');

                // Replace image with new SVG
                $img.replaceWith($svg);

            }, 'xml');

        });

        $('#accordion-switch').click(toggleAccordion);

        $('#language-selector').click(function() {
            if($(this).find('.menu-box').is(":visible")) {
                $('.menu-box').hide();
            } else {
                $('.menu-box').hide();
                $(this).find('.menu-box').show('fade');
            }
        });

        preparePage();
    });

    function openFilterSubitems() {
        $(this).children('ul').show('fade');    
    };
    function closeFilterSubitems() {
        $(this).children('ul').hide('fade'); 
    };
    
    function toggleMenuItem() {
        if($(this).parent().find('.menu-box').is(":visible")) {
            $('.menu-box').hide();
        } else {
            $('.menu-box').hide();
            $(this).parent().find('.menu-box').show('slide');
        }
    }


    function toggleAccordion() {
        if ($('#sidebar').css('max-width') != '20px'){
            $('#sidebar').css('max-width', '20px');
            $('#sidebarshadow').css('width', '20px');
            $('#tabs-sidebar').hide()
            $('#accordion-switch img').attr('src','{{ STATIC_URL }}shop/img/OpenBlog.png');
        } else {
            $('#sidebar').css('max-width', '400px');
            $('#sidebarshadow').css('width', '400px');
            $('#tabs-sidebar').show()
            $('#accordion-switch img').attr('src','{{ STATIC_URL }}shop/img/CloseBlog.png');
        }
    }

    function preparePage(){

        toggleAccordion();
        $('#menu-subjects, #menu-grades, #menu-types').hoverIntent( openFilterSubitems, closeFilterSubitems );

        $('#tabs-product').tabs();
        $('#tabs-sidebar').tabs();

        $('#tabs-product form input').change(function(){
            calculateTotalPrice($(this).val(),$(this).parents('form').find('.totalPriceValue'))
        });

    }
    function calculateTotalPrice(quantity, resultSelector){
        resultSelector.text((individualPrice * quantity).toFixed(2));
    }
    

    
</script>
