<script src="{{ STATIC_URL }}shop/js/bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}shop/js/bower_components/jquery-hoverIntent/jquery.hoverIntent.js"></script>

<script type="text/javascript">

    // Animations
    $('#content').addClass('animated fadeInDown');

    $(document).ready(function(){
        //$("#uppermenu").sticky({topSpacing:0});
    });

    function openFilterSubitems() {
        $(this).children('ul').show('fade');    
    };
    function closeFilterSubitems() {
        $(this).children('ul').hide('fade'); 
    };
    
    $('.menu-icon').click(function() {
        if($(this).siblings().first().is(":visible")) {
            $('.menu-box').hide();
        } else {
            $('.menu-box').hide();
            $(this).siblings().show('fade');
        }
    });
    
    $('#menu-subjects, #menu-grades, #menu-types').hoverIntent( openFilterSubitems, closeFilterSubitems );
    
</script>
